{
    "name": "tipi",
    "version": "0.1.0",
    "engines": {
        "node": "0.8.24"
    },
	"public": {
		"blog": {
			"name": "Blog",
			"description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit.",
			"prettify": {
				"syntax-highlighting": true,
				"element-classes": [
				{
					"locator": "img",
					"classes": [""]
				},
				{
					"locator": "button",
					"classes": ["btn", "btn-default"]
				}
				]
			},
			"sortBy": {"date": -1}
		}
	},
	"kadira": {
    	"appId": "",
    	"appSecret": ""
  	}
}
