<template name="home">
  <div id="home">
      <div class="container-fluid" id="intro">
          <div class="container">
              <div class="row">
                  <div class="col-sm-10 col-sm-offset-1 col-xs-12 text-center">
                      <img class="big-logo" src="/images/logos-tipi/logo4_blanco.svg" />
                  </div>
              </div>
          </div>
      </div>
      <div id="stats" class="container-fluid">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12 text-center">
                      <!-- <h3>De qué se habla en el Congreso</h3> -->
                      <div id="graph"></div>
                      <small>Estadísticas extraídas de nuestra base de datos. Consulta el resto de datos en este enlace.</small>
                  </div>
              </div>
          </div>
      </div>
      <div id="ctas" class="container-fluid">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12">
                      {{> banners}}
                  </div>
              </div>
              <div class="row subscribe">
                  <div class="col-sm-8">
                      <h2>Las alertas al instante</h2>
                      <h4>Un sistema de alertas potente y configurable</h4>
                      <p>Entérate de toda la información parlamentaria sobre pobreza y exclusión social. Entérate de toda la información parlamentaria sobre pobreza y exclusión social.Entérate de toda la información parlamentaria sobre pobreza y exclusión social.Entérate de toda la información parlamentaria sobre pobreza y exclusión social.</p>
                      <a href={{pathFor 'login'}} class="btn btn-primary">Quiero suscribirme</a>
                  </div>
                  <div class="col-sm-4 text-center">
                      <!-- <i class="fa fa&#45;download fa&#45;4x"></i> -->
                      <span class="glyphicon glyphicon-list-alt icon"></span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>
