552f7bc912c71fc4a0dea835/*fonts*/
@font-face {
	font-family: 'Abril Fatface';
	font-style: normal;
	font-weight: 400;
	src: local('Abril Fatface'), local('AbrilFatface-Regular'), url(http://fonts.gstatic.com/s/abrilfatface/v7/X1g_KwGeBV3ajZIXQ9VnDokaQb-UsZVONjobs91YQtw.woff) format('woff');
}

@font-face {
	font-family: 'Old Standard TT';
	font-style: normal;
	font-weight: 400;
	src: local('Old Standard TT Regular'), local('OldStandardTT-Regular'),url(http://fonts.gstatic.com/s/oldstandardtt/v6/n6RTCDcIPWSE8UNBa4k-DOeKpinAksS0bOq9o5QARNc.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 100;
	src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v8/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}


.lato {font-family: 'Lato';}
.old{font-family: 'Old Standard TT';}

body {
	font-family: 'Lato';
	font-size: 16px;
}


.old h1 {
	font-size:60px;
	font-weight:100;
}
.old h1.right { text-align:right; }
.old h2 {font-family: 'Old Standard TT';
	font-size:32px;
	font-weight:100;}
.old h3 {font-family: 'Old Standard TT';
	font-size:24px;
	font-weight:100;}
.oldleft h1 {font-family: 'Old Standard TT';
	font-size:60px;
	font-weight:100;}
.oldleft h2 {font-family: 'Old Standard TT';
	font-size:32px;
	font-weight:100;}
.oldleft h3 {font-family: 'Old Standard TT';
	font-size:24px;
	font-weight:100;}
.oldleft h1::first-letter {font-family:'Abril Fatface';
	font-size:130px;
	font-weight:100;
	color: black;}

.old h1::first-letter
{font-family:'Abril Fatface';
	font-size:150px;
	font-weight:100;
	color: black;
}
.old h2::first-letter
{font-family:'Abril Fatface';
    font-size:74px;
    font-weight:100;
    color: black;
}

.oldwhite h1::first-letter
{font-family:'Abril Fatface';
	font-size:150px;
	font-weight:100;
	color: #fed26f;
}
.oldwhite h2::first-letter
{font-family:'Abril Fatface';
    font-size:74px;
    font-weight:100;
    color: #fed26f;
}


/*generales-------*/

a {color: #fed26f;}
a:hover {color: #fed26f; text-decoration: underline;}
a.inverse {color: #222;}
a.inverse:hover {color: #222; text-decoration: underline;}
img {width: 100%; height: 100%;}
.btn {background: black; color: white; border-color: none;}
.btn h5 {font-family: 'Lato';}
.btn:hover {background:#fed26f;}
.btn {margin:5px; border-radius: 0px;}
.btnotro {background: grey; border-color: black; margin: 1px;color: black;}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color: #000;
}

.nube {background-image: url("../images/fotomanos.jpg"); color: white; height:600px}
.nube2{background-image: url("../images/fotomanos.jpg"); color: white; height:400px}
.darkpatt { background: url("../images/patterns/stressed_linen.png") repeat; }
.grey {background-color: grey;}
.grey h1 {color: #ffc741;}
.grey h3 {color: #fff;}

#spinner { height: 300px; }


.container { padding-top: 50px; }
.containerglob { 
	/* Do something with fullscreen images */
	padding-left: 10px;
	padding-right: 10px;
}
.containerglob > .row:first-of-type { padding-top:30px; }

.navbar li a {
	font-weight: bold;
}

.navbar-custom {
	margin-bottom: 0;
	border-bottom: 1px solid rgba(255,255,255,.3);
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #000;
}

.navbar-custom .navbar-brand {
	font-weight: 700; color: #ffc741;
}

.navbar-custom .navbar-brand:focus {
	outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
	padding: 4px 6px;
	font-size: 16px;
	color: grey;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
	outline: 0;
}

.navbar-custom a {
	color: ;
}

.navbar-custom .nav li.active {
	outline: nonte;
	background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li a {
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
	outline: 0;
	color: black;
	font-weight:900;
	background-color: rgba(255,255,255,.3);
}

@media(min-width:767px) {
	/*.navbar {
		padding: 20px 0;
		border-bottom: 0;
		letter-spacing: 1px;
		background: 0 0;
		-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
		-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
		transition: background .5s ease-in-out,padding .5s ease-in-out;
	}*/

	.top-nav-collapse {
		padding: 0;
		background-color: #000;
	}

	.navbar-custom.top-nav-collapse {
		border-bottom: 1px solid rgba(255,255,255,.3);
	}
}

@media(max-width:992px) {
	.containerglob > .row:first-of-type { padding-top:0px; }
}

/*mis estilos-------------------------------------------------------------*/

/*posiciones generales-------------------------------------------------------------*/
.center{ text-align:center; padding:30px; }
.right{ text-align:right; }

.footer {
	width: 100%;
	/*position: fixed;*/
	bottom: 0;
	padding: 6px;
	background: #e7e7e7;
	color: #222;
	box-shadow: 0px -2px -1px #222;
	-moz-box-shadow: 0px -2px -1px #222;
	-webkit-box-shadow: 0px -2px -1px #222;
}

p {color: #222; font-size: 16px;}
mark{background-color: black; color: white;text-align: right;}
	
/*cajas inicio-------------------------------------------------------------*/	
#homepage{
	background-image: url("../images/fotomanos.jpg");
	color: #fff;
}
#cajaparticipa{
	background: url("../images/fotomanos.jpg") bottom;
	color: #fff;
}
.big-logo {
	padding: 50px;
}
.content-row {
	padding-top:30px;
	padding-bottom:30px;
}
.content-row p{
	font-size: 18px;
}
.content-row .desc{
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
}
.content-row .desc-2x{
	padding-top: 40px;
	padding-bottom: 40px;
}
#cajainiciativas{
	/*background-color: #fed26f;*/
	color: #fff;
}
#qpc{
	background-color: #ECE136;
	color: #fff;
}

#cajablog{
	color: #fff;
}
.cajacontainer{
	padding:30px;
}
.line-bottom {
	border-bottom: 2px solid #fed26f;
}

/*participa---------------------------------------------------------*/
.participapregunta{
	background-color: black; 
	color: white;
}
.participarespuesta{
	background-color: white ;
	color: black;
}
		
.center{text-align: center;}


/*blog---------------------------------------------------------------*/
.blog-post {
	font-family: 'Lato';
	padding-bottom: 20px;
}
.blog-post h2 a {
	font-family: 'Old Standard TT';
	color: #000;
	font-size: 30px;
}
.blog-post summary a, .blog-post header .info .author {
	font-weight: bold;
	color: #ffc741;
}

#mdblog-new { color: #000; background-color: #ffc741; border-color: #000; }
#mdblog-publish { color: #fff; background-color: green; }
#mdblog-unpublish, #mdblog-delete { color: #fff; background-color: red; }
#mdblog-archive { color: #000; background-color: lightgrey; }


/*scanner------------------------------------------------*/
.node {
  cursor: pointer;
}
.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}
.node--leaf {
  fill: white;
}
.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}
.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

/*forum-----------------------------------------------------*/
.grid-block, .main, .post, .comments li, .comment-form {
  background: #fff;
  color: #666666;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

.page {}

.post {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */
  zoom: 1;
  opacity: 1; }
  .post:before, .post:after {
    content: "";
    display: table; }
  .post:after {
    clear: both; }
  .post.invisible {
    opacity: 0; }
  .post.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .post.animate{
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }
  .post .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left; }
  .post .post-content {
    float: left; }
    .post .post-content h3 {
      margin: 0;
      line-height: 1.4;
      font-size: 18px; }
      .post .post-content h3 a {
        display: inline-block;
        margin-right: 5px; }
      .post .post-content h3 span {
        font-weight: normal;
        font-size: 14px;
        display: inline-block;
        color: #aaaaaa; }
    .post .post-content p {
      margin: 0; color: #777; }
  .post .discuss {
    display: block;
    float: right;
    margin-top: 7px; }

.comments {
  list-style-type: none;
  margin: 0; }
  .comments li h4 {
    font-size: 16px;
    margin: 0; }
    .comments li h4 .date {
      font-size: 12px;
      font-weight: normal; }
    .comments li h4 a {
      font-size: 12px; }
  .comments li p:last-child {
    margin-bottom: 0; }
   .comments p {
   	color: #777;
   }

.load-more {
  display: block;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; }
  .load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1); }

.posts .spinner-container{
  position: relative;
  height: 100px;
}

.jumbotron{
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.hide {
    display: none;
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
  animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}

.highlighted {
    background-color: yellow;
}

/*refs and tipis--------------------------------------------*/
.ref {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#tipi-wrapper {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#tipi-wrapper h3 {
    margin-top: 0px;
}
#tipi-wrapper p {
    color: #fff;
}
#tipi-wrapper p .well {
    color: #222;
}
#tipi-wrapper hr {
    color: #fed26f;
    background-color: #fed26f;
    height: 3px;
}
#tipi-wrapper .tipi-titles {}
#tipi-wrapper .tipi-metadata {
    font-size: 18px;
    padding-top: 60px;
    padding-bottom: 40px;
}
#tipi-wrapper .tipi-metadata > div {
    padding-left: 20px;
}
#tipi-wrapper .dicts-block {
    padding-top: 15px;
}
#tipi-wrapper .dicts-block .dict-block {
    background-color: #fed26f;
    color: #222;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
}
