/*Colors*/
/*Tipi Yellow: #fbc239*/
/*Tipi Dark grey: #222*/

/*fonts*/
@font-face {
	font-family: 'Abril Fatface';
	font-style: normal;
	font-weight: 400;
	src: local('Abril Fatface'), local('AbrilFatface-Regular'), url(http://fonts.gstatic.com/s/abrilfatface/v7/X1g_KwGeBV3ajZIXQ9VnDokaQb-UsZVONjobs91YQtw.woff) format('woff');
}

@font-face {
	font-family: 'Old Standard TT';
	font-style: normal;
	font-weight: 400;
	src: local('Old Standard TT'), local('OldStandardTT'),url(http://fonts.gstatic.com/s/oldstandardtt/v6/n6RTCDcIPWSE8UNBa4k-DOeKpinAksS0bOq9o5QARNc.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 100;
	src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v8/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}


.lato {font-family: 'Lato';}
.old{font-family: 'Old Standard TT';font-weight:100;}

body {
	font-family: 'Lato';
	font-size: 16px;
}

#app {
  min-height: 95vh;
}
#app > div {
  padding-bottom: 40px;
}
#app > #homepage {
  padding-bottom: 0px;
}

.old h1 {
	font-size:60px;
}
.old h1.right {
  text-align:right;
}
.old h2 {
	font-size:32px;
}
.old h2.2x {
    font-size:60px !important;
}
.old h3 {
	font-size:24px;
}
.oldleft h1::first-letter {
  font-family:'Abril Fatface';
	font-size:130px;
	color: black;
}
.oldwhite h1, .oldwhite h1 { color: #fff; }

.old h1::first-letter {
  font-family:'Abril Fatface';
	font-size:150px;
	color: black;
}
.old h2::first-letter {
    font-family:'Abril Fatface';
    font-size:74px;
    color: black;
}
.old h2.2x::first-letter {
    font-family:'Abril Fatface';
    font-size:150px !important;
    color: black;
}

.oldwhite h1::first-letter {
    font-family:'Abril Fatface';
	font-size:150px;
	color: #fbc239;
}
.oldwhite h2::first-letter {
    font-family:'Abril Fatface';
    font-size:74px;
    color: #fbc239;
}
.old h2.2x::first-letter {
    font-family:'Abril Fatface';
    font-size:150px !important;
    color: #fbc239;
}


/*generales-------*/

a, a:link, a:visited {color: #fbc239;}
a:hover {text-decoration: underline;}
a.inverse, a.inverse:link, a.inverse:visited {color: #222;}
a.inverse:hover {text-decoration: underline;}
a.btn { text-decoration: none; }
a.btn-voted { background-color: transparent; color: #222; }
a.btn-voted:link, a.btn-voted:hover, a.btn-voted:visited { background-color: transparent; color: #222; }
a.disabled { cursor: default; }
img {width: 100%; height: 100%;}
.btn {background: black; color: white; border-color: none;}
.btn h5 {font-family: 'Lato';}
.btn:hover {background:#fbc239;}
.btn {margin:5px; border-radius: 0px;}
.btnotro {background: grey; border-color: black; margin: 1px;color: black;}
.yellow-text { color: #fbc239; }
.white-text { color: #ffffff; }
.grey-text { color: #aaa; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color: #000;
}

.badge-tipi {
  background-color: #fbc239;
  color: #222;
}
.label-tipi {
  background-color: #fbc239;
  color: #222;
}

.nube {background-image: url("../images/fotomanos.jpg"); color: white; height:600px}
.nube2{background-image: url("../images/fotomanos.jpg"); color: white; height:400px}
.darkpatt { background: url("../images/patterns/stressed_linen.png") repeat; }
.grey {background-color: grey;}
.grey h1 {color: #ffc741;}
.grey h3 {color: #fff;}

#spinner { height: 300px; }

.hidden {display: none;}

.highlighted {
    background-color: yellow;
}

.white-block { background-color: #fff; }

.yellow-block { background-color: #fbc239; }

.container { padding-top: 50px; }

.container:first-of-type { padding-top: 50px; }

.containerglob { 
	/* Do something with fullscreen images */
	padding-left: 10px;
	padding-right: 10px;
  min-height: 95vh;
}
.container > .row:first-of-type, .containerglob > .row:first-of-type { padding-top:30px; }

.navbar-custom {
	margin-bottom: 0;
  -webkit-box-shadow: 0px 5px 10px -6px #000;
  -moz-box-shadow: 0px 5px 10px -6px #000;
  box-shadow: 0px 5px 10px -6px #000;
	background-color: #000;
}

.navbar-custom .navbar-brand {
	font-weight: 700;
  color: #ffc741;
}

.navbar-custom .navbar-brand:focus {
	outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
	padding: 4px 6px;
	font-size: 16px;
	color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
	outline: 0;
}

.navbar-custom a { color: #fff; }

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a.active,
.navbar-custom .nav li.active,
.navbar-custom .nav li.dropdown.open a.dropdown-toggle,
.navbar-custom .nav li.active a {
	outline: 0;
	color: #222;
	background-color: #fbc239;
}

@media(min-width:768px) {

	.top-nav-collapse {
		padding: 0;
		background-color: #000;
	}

	.navbar-custom.top-nav-collapse {
		border-bottom: 1px solid rgba(255,255,255,.3);
	}

}

@media(max-width:767px) {
	.containerglob > .row:first-of-type { padding-top:0px; }
}

/*mis estilos-------------------------------------------------------------*/

/*posiciones generales-------------------------------------------------------------*/
.left { text-align:left; padding:30px; }
.center{ text-align:center; padding:30px; }
.right{ text-align:right; padding:30px; }

p {color: #222; font-size: 16px;}
mark{background-color: black; color: white;text-align: right;}
	
/*cajas-------------------------------------------------------------*/	
#homepage{
	background-image: url("../images/fotomanos.jpg");
	color: #fff;
}
#cajaparticipa{
	background: url("../images/fotomanos.jpg") bottom;
	color: #fff;
}
.big-logo {
	padding: 50px;
}
.content-row {
	padding-top:30px;
	padding-bottom:30px;
}
.content-row p{
	font-size: 18px;
}
.content-row .desc{
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
}
.content-row .desc-2x{
	padding-top: 40px;
	padding-bottom: 40px;
}
#cajainiciativas{
	/*background-color: #fbc239;*/
	color: #fff;
}
#qpc{
	background-color: #ECE136;
	color: #fff;
}

#cajalatest{
	color: #fff;
}
#cajalatest .latest {
  text-align: center;
}
li.lined {
  padding-bottom: 10px;
  border-bottom: 1px dashed #FBC239;
  margin-top: 10px;
  margin-bottom: 10px;
}
li.lined:last-child {
  border-bottom: 0px;
}
.cajacontainer{
	padding:30px;
}

/*participa---------------------------------------------------------*/
.participapregunta{
	background-color: black; 
	color: white;
}
.participarespuesta{
	background-color: white ;
	color: black;
}
		
.center{text-align: center;}


/*blog---------------------------------------------------------------*/
.blog-description {
  padding-left: 30px;
  margin-top: -30px;
  font-style: italic;
  color: #aaa;
}
.blog-post {
	font-family: 'Lato';
	padding-bottom: 20px;
}
.blog-post h2 a {
	font-family: 'Old Standard TT';
	color: #000;
	font-size: 30px;
}
.blog-post summary a, .blog-post header .info .author {
	font-weight: bold;
	color: #ffc741;
}

#mdblog-new { color: #000; background-color: #ffc741; border-color: #000; }
#mdblog-publish { color: #fff; background-color: green; }
#mdblog-unpublish, #mdblog-delete { color: #fff; background-color: red; }
#mdblog-archive { color: #000; background-color: lightgrey; }


/*scanner vizz------------------------------------------------*/
#scanner-vizz .node {
  cursor: pointer;
}
#scanner-vizz .node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}
#scanner-vizz .node--leaf {
  fill: #fbc239;
}
#scanner-vizz .label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  /*text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;*/
}

#scanner-vizz .label,
#scanner-vizz .node--root,
#scanner-vizz .node--leaf {
  pointer-events: none;
}

#scanner-vizz #scanner-title {
  text-transform: capitalize;
}

/*scanner text and oher forms---------------------*/
#scanner-text, #login, #signup, #forgot, #profile-edit, #meetup-new {
  color: #fff;
}
#login h2, #signup h2, #forgot h2, #profile-edit h2, #meetup-new h2 {
  color: #fbc239;
}
#meetup-new p { color: #fff; }

#scanner-text table thead tr th {
  color: #fff;
  font-weight: bold;
}

#scanner-text table tbody tr:hover td {
  color: #222;
  background-color: rgba(251,194,57,0.8);
}

#scanner-text table tbody tr:hover td a {
  color: #222;
}
#scanner-text .form-control:focus,
#login .form-control:focus,
#signup .form-control:focus,
#forgot .form-control:focus,
#profile-edit .form-control:focus,
#meetup-new .form-control:focus {
  box-shadow: 0 0 0;
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
}

#scanner-text .form-group,
#login .form-group,
#signup .form-group,
#forgot .form-group,
#profile-edit .form-group,
#meetup-new .form-group {}

#scanner-text input,
#login input,
#signup input,
#forgot input,
#profile-edit input,
#meetup-new input {
  background: none repeat scroll 0% 0%;
  color: #fbc239;
  border: 0px;
  border-bottom: 1px solid #000;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
#scanner-text input::-webkit-input-placeholder,
#scanner-text input::-moz-placeholder,
#login input::-webkit-input-placeholder,
#login input::-moz-placeholder,
#signup input::-webkit-input-placeholder,
#signup input::-moz-placeholder,
#forgot input::-webkit-input-placeholder,
#forgot input::-moz-placeholder,
#profile-edit::-webkit-input-placeholder,
#profile-edit::-moz-placeholder,
#meetup-new::-webkit-input-placeholder, 
#meetup-new::-moz-placeholder {
  color:#222;
}
#scanner-text select {
  background: #222;
  color: #fbc239;
  border: 0px;
  border-bottom: 1px solid #000;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

/*forum-----------------------------------------------------*/
.grid-block, .main, .post, .comments li, .comment-form {
  background: #fff;
  color: #666666;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

.page {}

.post {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */
  zoom: 1;
  opacity: 1; }
  .post:before, .post:after {
    content: "";
    display: table; }
  .post:after {
    clear: both; }
  .post.invisible {
    opacity: 0; }
  .post.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .post.animate{
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }
  .post .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left; }
  .post .post-content {
    float: left; }
    .post .post-content h3 {
      margin: 0;
      line-height: 1.4;
      font-size: 18px; }
      .post .post-content h3 a {
        display: inline-block;
        margin-right: 5px; }
      .post .post-content h3 span {
        font-weight: normal;
        font-size: 14px;
        display: inline-block;
        color: #aaaaaa; }
    .post .post-content p {
      margin: 0; color: #777; }
  .post .discuss {
    display: block;
    float: right;
    margin-top: 7px; }

.comments {
  list-style-type: none;
  margin: 0; }
  .comments li h4 {
    font-size: 16px;
    margin: 0; }
    .comments li h4 .date {
      font-size: 12px;
      font-weight: normal; }
    .comments li h4 a {
      font-size: 12px; }
  .comments li p:last-child {
    margin-bottom: 0; }
   .comments p {
   	color: #777;
   }

.load-more {
  display: block;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; }
  .load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1); }

.posts .spinner-container{
  position: relative;
  height: 100px;
}

.jumbotron{
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.hide {
    display: none;
}

.errors {
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}

.alert {
  position: absolute;
  padding-top: 50px;
  width: 100%;
  text-align: center;
}
.alert-success, .alert-info {
  color: #000;
  background-color: #fbc239;
  border: none;
}
.alert-success .close,
.alert-success .close:hover,
.alert-info .close,
.alert-info .close:hover {
  color: #000;
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.alert-danger {
  color: #fff;
  background-color: red;
  border: none;
}
.alert-danger .close,
.alert-danger .close:hover {
  color: #fff;
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}


/*refs and tipis--------------------------------------------*/
.ref {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#tipi-wrapper {
    color: #fff;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#tipi-wrapper h3 {
    margin-top: 0px;
}
#tipi-wrapper p {
    color: #fff;
}
#tipi-wrapper p .well {
    color: #222;
}
#tipi-wrapper hr {
    color: #fbc239;
    background-color: #fbc239;
    height: 3px;
}
#tipi-wrapper .tipi-titles {}
#tipi-wrapper .tipi-metadata {
    font-size: 18px;
    padding-top: 60px;
    padding-bottom: 40px;
}
#tipi-wrapper .tipi-metadata > div {
    padding-left: 20px;
}
#tipi-wrapper .dicts-block {
    padding-top: 15px;
}
#tipi-wrapper .dicts-block .dict-block {
    background-color: #fbc239;
    color: #222;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
}
#tipi-wrapper .quepasocon {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}
#tipi-wrapper .quepasocon.complete {
    color: #4ac948;
    border: 3px solid #4ac948;
}
#tipi-wrapper .quepasocon.uncomplete {
    color: #e60000;
    border: 3px solid #e60000;
}
#tipi-wrapper .quepasocon.partially {
    color: #ffaa00;
    border: 3px solid #ffaa00;
}
#tipi-wrapper .quepasocon.pending {
    color: #999;
    border: 3px solid #999;
}

/*About---------------------------*/
#about { padding-bottom: 0px !important; }
#about hr{
  text-align: center;
  width: 50%;
  color: #fbc239;
  background-color: #fbc239;
  height: 1px;
}
#about h2 {
  color: #fff;
}
#about .numerize {
  font-size: 32px;
  color: #fbc239;
}
#about #social *, #about #credits * {
  color: #222;
}
#about #social a {
  font-weight: bold;
  font-size: 18px;
}

#about #credits img {
  padding-left: 10px;
  padding-right: 10px;
  width: 150px;
}

/*Topics----------------------------*/
#topics .dictionary-block {
  text-align: center;
  min-height: 400px;
}
#topics h2 {
  color: #fff;
}
#topics .dictionary-block h3 {
  color: #fbc239;
  text-transform: capitalize;
}
#topics .dictionary-block p {
  color: #fff;
}
#topics .dictionary-block .dictionary-icon {
  width: 72px;
  height: 72px;
}

/*Profile-----------------------------*/
#profile, #profile-edit {
  color: #fff;
}

#profile p {
  color: #fff;
}

/*Profile-----------------------------*/
#profiles .nav-pills {
  text-align:center;
  margin-bottom: 30px;
}
#profiles .nav-pills > li {
    float:right;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}
#profiles .nav-pills > li.active > a,
#profiles .nav-pills > li.active > a:hover,
#profiles .nav-pills > li.active > a:focus,
#profiles .nav-pills > li > a:hover,
#profiles .nav-pills > li > a:focus {
    color: #222;
    cursor: default;
    background-color: #fbc239;
    border: 0px;
}
#profiles .nav-pills > li > a { color: #fff; }
#profiles h1, h2, h3 { color: #fbc239; }
#profiles p { color: #fff; }

#profiles .current { border: 2px dashed #fbc239; padding:5px; }

/*Not found + Access denied-----------*/
#not-found, #access-denied {}

#not-found h2, #access-denied h2 {
  padding-top: 100px;
  color: #fbc239;
}

#not-found i, #access-denied i {
  color: #fff;
}

/*Overlay------------------------*/
.closing { text-decoration: underline }
#overlay {
   visibility: hidden;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   text-align:center;
   z-index: 200;
   background: url("../images/patterns/stressed_linen.png") repeat;
}
#overlay div {
   margin: 100px auto;
   padding:15px;
   text-align:center;
}
#overlay input {
  background: none repeat scroll 0% 0%;
  color: #fbc239;
  border: 0px;
  font-size: 26px;
  border-bottom: 1px solid #000;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

/*Footer-------------------------*/
.footer {
  bottom: 0;
  padding: 6px;
  background: #000;
  color: #eee;
  -webkit-box-shadow: 0px -5px 10px -6px #000;
  -moz-box-shadow: 0px -5px 10px -6px #000;
  box-shadow: 0px -5px 10px -6px #000;
  background-color: #000;
}
.footer a {
  color: #fff;
  padding-left: 10px;
}
