<template name="tipipublic">
	<div id="tipi-wrapper" class="containerglob darkpatt old oldwhite">
		{{#with tipi}}
			<div class="row">
				<div class="col-md-9 tipi-titles">
					<h2>{{getTipiTitulo}}</h2>
					<hr>
					<div class="row">
						<div class="col-md-6">
							<h3>{{tipotexto}} / <small><i>{{relativeDate}}</i></small></h3>
							<a href="{{getUrl}}" target="_blank"><i class="fa fa-institution"></i> Ver en el Congreso</a>
						</div>
						<div class="col-md-6 pull-right">
							<a href="#" class="btn btn-secondary pull-right"><i class="fa fa-comments-o"></i> Iniciar conversación</a>
						</div>
					</div>
					<div class="row tipi-metadata">
						<div class="col-md-6">
							<i class="fa fa-user"></i> {{getTipiAutor}}
							<br>
							<i class="fa fa-group"></i> {{getGrupo}}
						</div>
						<div class="col-md-6">
							<i class="fa fa-map-marker"></i> {{lugar}}
						</div>
					</div>
					<!-- <p>
						<i>Iniciativas relacionadas (not now)</i>
					</p> -->
					<!-- <p>
						<div class="text-center">
							<a href="#" id="toogle-content"><i class="fa fa-angle-double-down"></i> Mostrar contenido <i class="fa fa-angle-double-down"></i></a>
						</div>
						<div id="content-block" class="hide">
							<div class="well">
								{{parseContentToHTML}}
							</div>
							<div class="text-center">
								<a href="#tipi-wrapper"><i class="fa fa-angle-up"></i> Subir <i class="fa fa-angle-up"></i></a>
							</div>
						</div>
					</p> -->
				</div>
				<div class="col-md-3 dicts-block">
					<ul class="list-unstyled">
						{{#each dicts}}
						<li class="dict-block">
							{{this}}
						</li>
						{{/each}}
					</ul>
				</div>
			</div>
		{{/with}}
	</div>
</template>