<template name="tipipublic">
	<div id="tipi-wrapper" class="containerglob darkpatt old oldwhite">
		{{#with tipi}}
			<div class="row">
				<div class="col-sm-9 tipi-titles">
					<h2>{{titulo}}</h2>
					<hr>
					<div class="row">
                                              <div class="col-sm-12">
                                                      <h3>
                                                        {{tipotexto}}
                                                        {{#if fecha}}
                                                          / <small><i>{{relativeDate}}</i></small>
                                                        {{/if}}
                                                      </h3>
                                                      <a href="{{congresoURL}}" target="_blank"><i class="fa fa-institution"></i> Ver en el Congreso</a>
                                              </div>
					</div>
					<div class="row tipi-metadata">
						<div class="col-sm-6">
							<h4>¿Quién?</h4>
							{{#if autor_otro}}
								{{autor_otro}}
							{{else}}
								{{#each autor_diputado}}
									<span class="foto mediana">
										<img src="{{fotoDip this}}" />
									</span>&nbsp;{{this}}
									<br/>
								{{/each}}
								<br>
								<span style="border-bottom: 2px solid {{colorizedGroup autor_grupo}};margin-bottom:5px;">{{groupsHumanized}}</span>
							{{/if}}
						</div>
						<div class="col-md-6">
							<h4>¿Dónde?</h4>
							<i class="fa fa-map-marker"></i> {{lugar}}
						</div>
					</div>
					<!-- <p>
						<i>Iniciativas relacionadas (not now)</i>
					</p> -->
					<!-- <p>
						<div class="text-center">
							<a href="#" id="toogle-content"><i class="fa fa-angle-double-down"></i> Mostrar contenido <i class="fa fa-angle-double-down"></i></a>
						</div>
						<div id="content-block" class="hide">
							<div class="well">
								{{parseContentToHTML}}
							</div>
							<div class="text-center">
								<a href="#tipi-wrapper"><i class="fa fa-angle-up"></i> Subir <i class="fa fa-angle-up"></i></a>
							</div>
						</div>
					</p> -->
				</div>
				<div class="col-sm-3 dicts-block">
					<h4 class="text-center">Vinculado con:</h4>
					<ul class="list-unstyled">
						{{#each dicts}}
						<li class="dict-block">
							{{this}}
						</li>
						{{/each}}
					</ul>
					{{#if quepasocon}}
						<div class="quepasocon {{qpcClass}}">
							<i class="fa fa-{{qpcIcon}} fa-2x"></i>
							<br>
							<span>{{quepasocon}}</span>
							<br>
							<a href="{{pathFor 'quepasocon'}}" target="_blank"><small class="white-text">¿Qué es esto?</small></a>
							{{#if quepasocon_moreinfo}}
								<br>
								<a href="{{quepasocon_moreinfo}}"><small class="white-text">Ampliar información</small></a>
							{{/if}}
						</div>
					{{/if}}
				</div>
			</div>
		{{/with}}
	</div>

</template>
