<template name="meetups">
    <div id="meetups" class="containerglob darkpatt" style="min-height: 95vh;">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h2 class="yellow-text text-center">Próximos eventos</h2>
                    <br>
                    <ul class="list-unstyled">
                        {{#each meetups}}
                            <li class="lined white-text">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <i class="yellow-text fa fa-calendar fa-4x"></i>
                                    </div>
                                    <div class="col-sm-9">
                                        <h3><a href="/meetups/{{_id._str}}">{{name}}</a></h3>
                                        <p class="white-text">{{description}}</p>
                                    </div>
                                    <div class="col-sm-2 text-right">
                                        <p class="grey-text">{{humanDate}}</p>
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
</template>