<template name="deputy">
  <div id="deputy">
      <div class="container page">
          <div class="row">
              <div class="col-sm-12">
                  <img src="{{deputy.imagen}}" alt="Foto de {{deputy.nombre}}">
                  <h2>{{deputy.nombre}}</h2>
                  <h5>{{group}}</h5>
                  <ul class="list-unstyled">
                      {{#if deputy.correo}}
                          <li>{{deputy.correo}}</li>
                      {{/if}}
                      {{#if deputy.twitter}}
                          <li>{{deputy.twitter}}</li>
                      {{/if}}
                  </ul>
                  <h3 class="white-text">Últimas iniciativas</h3>
                  {{#if hasInitiatives}}
                      <div class="row">
                          {{#each initiatives}}
                              <div class="col-sm-10">
                                  <a href="/t/{{_id}}">{{titulo}}</a> 
                              </div>
                              <div class="col-sm-2">
                                  <small class="text-muted">{{relativeDate fecha}}</small>
                              </div>
                          {{/each}}
                      </div>
                  {{else}}
                      <small class="text-muted">No hay iniciativas que mostrar</small>
                  {{/if}}
              </div>
          </div>
      </div>
  </div>
</template>
