<template name="group">
  <div id="group">
      <div class="container page">
          <div class="row">
              <div class="col-sm-12">
                  <h2>{{group.nombre}}</h2>
                  <h5 class="white-text">Últimas iniciativas</h5>
                  {{#if hasTipis}}
                      <div class="row">
                          {{#each tipis}}
                              <div class="col-sm-10">
                                  <a href="/t/{{_id}}">{{titulo}}</a>
                              </div>
                              <div class="col-sm-2">
                                  <small class="text-muted">{{relativeDate fecha}}</small>
                              </div>
                          {{/each}}
                      </div>
                  {{else}}
                      <small class="text-muted">No hay iniciativas que mostrar</small>
                  {{/if}}
              </div>
          </div>
      </div>
  </div>
</template>
