<template name="blogListLayout">
    {{> header}}
    <div class="containerglob">
        <div class="row">
            <div class="col-md-12 old darkpatt grey blog">
                <h1 class="left">{{blogname}}</h1>
                <!-- <hr>
                <h3>{{blogdescription}}</h3> -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 old blog">
                <div class="row">
                    {{> yield}}
                </div>
            </div>
        </div>
    </div>
    {{> footer}}
</template>

<template name="blogPostLayout">
    {{> header}}
    <div class="containerglob">
        <div class="row">
            <div class="col-md-12 old darkpatt grey blog">
                <h1 class="left">{{blogname}}</h1>
                <!-- <hr>
                <h3>{{blogdescription}}</h3> -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 blog">
                <div class="row">
                    <div class="col-md-12">
                        {{> yield}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> footer}}
</template>