<template name="blogListLayout">
    {{> header}}
    <div class="containerglob">
        <div class="row">
            <div class="col-md-3 old nube grey">
                <h1>{{blogname}}</h1>
                <hr>
                <h3>{{blogdescription}}</h3>
            </div>
            <div class="col-md-7 col-md-offset-1 old blog">
                <h1>Artículos</h1>
                <hr>
                <div class="row">
                    {{> yield}}
                </div>
            </div>
            <!-- <div class="col-md-4 old blog">
                <h1>Datos</h1>
                <hr>
                <div class="row">
                    <h2>Datos públicos</h2>
                    <small>Fecha</small>
                    <p class="serif">
                        En este espacio encontrarás todas las novedades, artículos, talleres y el resto de actividades que desde Ciudadanía Activa llevamos a cabo desde nuestro proyecto.
                    </p>
                </div>
            </div> -->
        </div>
    </div>
    {{> footer}}
</template>

<template name="blogPostLayout">
    {{> header}}
    <div class="containerglob">
        <div class="row">
            <div class="col-md-3 old nube grey">
                <h1>{{blogname}}</h1>
                <hr>
                <h3>{{blogdescription}}</h3>
            </div>
            <div class="col-md-7 col-md-offset-1 old blog">
                <div class="row">
                    {{> yield}}
                </div>
            </div>
        </div>
    </div>
    {{> footer}}
</template>