<template name="forgot">
    <div id="forgot" class="containerglob darkpatt">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <form class="text-center">
                        <h2>¿Olvidó su contraseña?</h2>
                        <div class="form-group">
                            <input id="email" class="form-control text-center" name="email" type="email" value="" placeholder="Escribe tu email" />
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-block btn-secondary">Recuperar contraseña</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</template>