<template name="forgot">
    {{> pageTitle title=title}}
    {{> messages}}
    <div id="forgot" class="container page">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <form class="text-center form-horizontal">
                    <fieldset>
                        <legend>¿Olvidaste tu contraseña?</legend>
                        <div class="form-group">
                            <input id="email" class="form-control text-center" name="email" type="email" value="" placeholder="Escribe aquí tu email" />
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-block btn-primary">Recuperar contraseña</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

</template>
