<template name="profileEdit">
    <div id="profile-edit" class="containerglob darkpatt">
        <div class="container">
          <div class="row">
            {{#autoForm collection='Meteor.users' doc=currentUser id="editProfileForm" type='update'}}
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="text-center">Edita tu perfil</h2>
                <div class="form-group">
                  {{> afFieldInput name='profile.firstname' class="form-control" placeholder='Nombre'}}
                </div>
                <div class="form-group">
                  {{> afFieldInput name='profile.lastname' class="form-control" placeholder='Apellidos'}}
                </div>
                <div class="form-group">
                  {{> afFieldInput name='profile.bio' class="form-control" placeholder='Sobre mi'}}
                </div>
                <div class="form-group">
                  {{> afFieldInput name='profile.organization' class="form-control" placeholder='Organización'}}
                </div>
                <div class="form-group">
                  {{> afFieldInput name='profile.website' class="form-control" placeholder='Web'}}
                </div>
                <div class="form-group">
                  {{> afFieldInput name='profile.twitter' class="form-control" placeholder='https://twitter.com/tucuenta'}}
                </div>
                <div class="form-group">
                  {{> afFieldInput name='profile.facebook' class="form-control" placeholder='https://facebook.com/tucuenta'}}
                </div>
                <div class="form-group">
                  {{> afFieldInput name='profile.is_public' class="form-control"}}
                </div>
                <br>
                <div class="form-group text-center">
                  <div class="controls">
                      <h4>Ámbitos de interés</h4>
                      {{#each currentUser.profile.dicts}}
                          <button class="btn btn-check btn-xs btn-remove-dict" dict="{{this}}" user="{{currentUser._id}}">{{this}}</button>
                      {{/each}}
                      {{#each otherDicts}}
                          <button class="btn btn-xs btn-add-dict" dict="{{this}}" user="{{currentUser._id}}">{{this}}</button>
                      {{/each}}
                  </div>
                </div>
                <br>
                <button type="submit" class="btn btn-block btn-secondary">Guardar los cambios</button>
                <div class="text-center">
                    <a href="{{pathFor 'profile' username=currentUser.username}}">o regresa a tu perfil</a>
                </div>
            </div>
            {{/autoForm}}
          </div>
        </div>
    </div>
</template>