<template name="profileEdit">
    {{> pageTitle title=title}}
    {{> messages}}
    <div id="profile-edit">
        <div class="container page">
          <div class="row">
            {{#autoForm collection='Meteor.users' doc=currentUser id="editProfileForm" type='update'}}
            <div class="col-sm-8">
              <form class="form-horizontal" role="form">
                  <fieldset>
                    <div class="form-group">
                        <label for="dicts" class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-9 col-sm-offset-1">
                        {{> afFieldInput name='profile.firstname' class="form-control" placeholder='Nombre'}}
                        </div>
                    </div>

                    <div class="form-group">                   
                        <label for="dicts" class="col-sm-2 control-label">Apellidos</label>
                        <div class="col-sm-9 col-sm-offset-1">
                        {{> afFieldInput name='profile.lastname' class="form-control" placeholder='Apellidos'}}
                        </div>
                    </div>

                    <div class="form-group">                   
                        <label for="dicts" class="col-sm-2 control-label">Sobre mí</label>
                        <div class="col-sm-9 col-sm-offset-1">
                        {{> afFieldInput name='profile.bio' class="form-control" placeholder='Sobre mi'}}
                        </div>
                    </div>

                    <div class="form-group">                   
                        <label for="dicts" class="col-sm-2 control-label">Organización</label>
                        <div class="col-sm-9 col-sm-offset-1">
                        {{> afFieldInput name='profile.organization' class="form-control" placeholder='Organización'}}
                        </div>
                    </div>

                    <div class="form-group">                                           
                        <label for="dicts" class="col-sm-2 control-label">Web</label>
                        <div class="col-sm-9 col-sm-offset-1">
                        {{> afFieldInput name='profile.website' class="form-control" placeholder='Web'}}
                        </div>      
                    </div>

                    <div class="form-group">                   
                        <label for="dicts" class="col-sm-2 control-label">Twitter</label>
                        <div class="col-sm-9 col-sm-offset-1">
                        {{> afFieldInput name='profile.twitter' class="form-control" placeholder='https://twitter.com/tucuenta'}}
                        </div>
                    </div>

                    <div class="form-group">                                           
                        <label for="dicts" class="col-sm-2 control-label">Facebook</label>
                        <div class="col-sm-9 col-sm-offset-1">
                        {{> afFieldInput name='profile.facebook' class="form-control" placeholder='https://facebook.com/tucuenta'}}
                        </div>                                                                  
                    </div>

                </fieldset>
                </form>

                <br>
                <div id="alerts" class="form-group text-center">
                  <div class="controls">
                      <h4>Ámbitos de interés para alertas personalizadas</h4>
                      {{#each currentUser.profile.dicts}}
                          <button class="btn btn-check btn-xs btn-remove-dict" dict="{{this}}" user="{{currentUser._id}}">{{this}}</button>
                      {{/each}}
                      {{#each otherDicts}}
                          <button class="btn btn-xs btn-add-dict" dict="{{this}}" user="{{currentUser._id}}">{{this}}</button>
                      {{/each}}
                  </div>
                </div>
                <br>
                <button type="submit" class="btn btn-block btn-primary">Guardar</button>
            </div>
            {{/autoForm}}
          </div>
        </div>
    </div>
</template>
