<template name="profile">
    <div id="profile" class="containerglob darkpatt">
        {{count}}
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {{#with userobject}}
                    <h2>{{profile.firstname}} {{profile.lastname}} <small>({{username}})</small></h2>
                        {{#if profile.organization}}
                            <p><i class="fa fa-building-o"></i> {{profile.organization}}</p>
                        {{/if}}
                        {{#if profile.bio}}
                            <p><i>{{profile.bio}}</i></p>
                        {{/if}}
                        {{#if profile.twitter}}
                            <a href="{{profile.twitter}}" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                        {{/if}}
                        {{#if profile.facebook}}
                            <a href="{{profile.facebook}}" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
                        {{/if}}
                        {{#if isEqUser _id }}
                            <br><br>
                            <a href="{{pathFor 'profile_edit'}}"><i class="fa fa-pencil"></i> Editar perfil y alertas</a>
                            <br>
                            <a href="/" class="log-out"><i class="fa fa-power-off"></i> Cerrar sesión</a>
                        {{/if}}
                    {{/with}}
                </div>
            </div>
        </div>
    </div>
</template>
