<template name="profileItem">
    <div class="col-sm-3 col-xs-12 text-center {{isCurrent _id}}">
        <h4>
          <a href="{{pathFor 'profile' username=username}}">
            {{profile.firstname}} {{profile.lastname}}
            <br/>
            <small class="text-muted">
                  ({{username}})
              {{#if status.online}}
                  <i class="fa fa-circle" style="color: #4AC948;"></i>
              {{/if}}
            </small>
          </a>
        </h4>
    </div>
</template>
