<template name="profiles">
    <div id="profiles" class="containerglob darkpatt">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="tabpanel">
                        <h1>¿Quién está en TiPi?</h1>
                        <ul class="nav nav-pills" role="tablist">
                            <li role="presentation"><a href="#media" aria-controls="media" role="tab" data-toggle="tab">Medios</a></li>
                            <li role="presentation"><a href="#organizations" aria-controls="organizations" role="tab" data-toggle="tab">Organizaciones</a></li>
                            <li role="presentation"><a href="#deputies" aria-controls="deputies" role="tab" data-toggle="tab">Diputadas/os</a></li>
                            <li role="presentation" class="active"><a href="#citizens" aria-controls="citizens" role="tab" data-toggle="tab">Ciudadanía</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="citizens">
                                <div class="row">
                                    {{#each citizens}}
                                        {{> profileItem}}
                                    {{/each}}
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="deputies">
                                <div class="row">
                                    {{#if deputies}}
                                        {{#each deputies}}
                                            {{> profileItem}}
                                        {{/each}}
                                    {{else}}
                                        <p class="text-center">
                                            <br>
                                            <i>No hay diputadas/os activas/os en TIPI. ¿Quieres ser la/el primera/o?</i>
                                            <br>
                                        </p>
                                    {{/if}}
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <p><i>Si eres diputado/a y quieres participar de TIPI escríbenos un correo a <span class="yellow-text">tipi[arroba]ciecode[punto]es</span> y contactaremos con usted.</i></p>
                                        {{#each content_deputies}}
                                            <div class="col-sm-4 col-xs-6 text-center diputado {{isInactive}}">
                                                <h5>
                                                    {{nombre}}
                                                </h5>
                                                <p>{{ humanizedGroup grupo }}</p>
                                                <p>
                                                {{#if twitter}}
                                                    <a href="{{ linkToTwitter twitter }}" target="_blank">{{twitter}}</a> | 
                                                {{/if}}
                                                <a href="{{url}}" target="_blank">Ver ficha</a>
                                                </p>
                                            </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="organizations">
                                <div class="row">
                                    {{#each organizations}}
                                        {{> profileItem}}
                                    {{/each}}
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="media">
                                <div class="row">
                                    {{#each media}}
                                        {{> profileItem}}
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>