<template name="signup">
    {{> pageTitle title=title}}
    <div id="signup" class="container page">
            <div class="row">
                <div class="col-sm-4">
                    <form class="form-horizontal" role="form">
                        <fielset>
                            <div class="form-group">
                                <label for="firstname" class="control-label">Nombre</label>
                                <input id="firstname" class="form-control" name="firstname" type="text" value="" />
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="control-label">Apellidos</label>
                                <input id="lastname" class="form-control" name="lastname" type="text" value="" />
                            </div>
                            <div class="form-group">
                                <label for="username" class="control-label">Nombre de usuario</label>
                                <input id="username" class="form-control" name="username" type="text" value="" />
                                <small>Sin espacios en blanco ni tildes o caracteres especiales</small>
                            </div>
                            <div class="form-group">
                                <label for="email" class="control-label">Correo electrónico</label>
                                <input id="email" class="form-control" name="email" type="email" value="" />
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label">Contraseña</label>
                                <input id="password" class="form-control" name="password" type="password" value="" />
                            </div>
                            <div class="form-group">
                                <label for="password2``" class="control-label">Repite contraseña</label>
                                <input id="password2" class="form-control" name="password2" type="password" value="" />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Registrarme</button>
                            </div>  
                        </fielset>
                    </form>
                </div>
            </div>
    </div>
</template>
