<template name="signup">
    <div class="container">
      <form>
        <div class="control-group">
          <label>Apellidos</label>
          <div class="controls"><input id="apellidos" type="text" value="" /></div>
        </div>
        <div class="control-group">
          <label>Nombre</label>
          <div class="controls"><input id="nombre" type="text" value="" /></div>
        </div>
         <div class="control-group">
          <label>Username</label>
          <div class="controls"><input id="username" name="username" type="text" value="" /></div>
        </div>
        <div class="control-group">
          <label>Email</label>
          <div class="controls"><input id="email" name="email" type="text" value="" /></div>
        </div>
        <div class="control-group">
          <label>Password</label>
          <div class="controls"><input id="password" name="password" type="password" value="" /></div>
        </div>
        <div class="control-group">
          <label>Retype Password</label>
          <div class="controls"><input id="password2" name="password2" type="password" value="" /></div>
        </div>
        <div class="form-actions">
          <input type="submit" class="button" value="Sign Up" />
        </div>  
      </form>
    </div>
</template>