<template name="dicts">
    <div id="dicts">
        <div class="container page">
            <div class="row">
                <div class="col-sm-12">
                    {{#each dicts}}
                        <div class="col-sm-4 text-center">
                            <img class="dictionary-icon" src="/images/svgs/{{icon2}}" alt="Imagen de {{name}}">
                            <h3><a href="{{ pathFor 'dict' slug=slug }}">{{name}}</a></h3>
                            <p>{{description}}</p>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</template>
