<template name="topic">
    <div id="topic" class="containerglob darkpatt">
        <section id="dictionary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 old oldwhite">
                        <h1 class="text-center">{{dict}}</h1>
                        <hr>
                    </div>
                </div>
                <div class="row content-row">
                    <div class="col-sm-12">
                        <h3 class="text-center">Diputadas/os más activas/os</h3>
                        <div class="row">
                            {{#each deputies}}
                                <div class="col-sm-4 text-center">
                                    <span class="foto grande">
                                        <img src="{{fotoDip _id}}" />
                                    </span>
                                    <br/>
                                    <h4>{{_id}}</h4>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="row content-row">
                    <div class="col-sm-12">
                        <h3 class="text-center">Grupos más activos</h3>
                        <div class="row">
                            {{#each groups}}
                                <div class="col-sm-4 text-center">
                                    <h4><span style="border-bottom: 2px solid {{colorizedGroup _id}};margin-bottom:5px;">{{groupsHumanized _id}}</span></h4>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="row content-row">
                    <div class="col-sm-12">
                        <h3 class="text-center">Últimas iniciativas</h3>
                        <div class="row">
                            {{#each latest}}
                                <div class="col-sm-4 text-center">
                                    <h4><a href="/t/{{id}}">{{titulo}}</a></h4>
                                    <small class="grey-text">{{relativeDate fecha}}</small>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>