<template name="about">
    <div class="containerglob">
        <div class="row">
            <div class="col-md-4 old center">
                <img src="/images/logos-tipi/logo1.svg" alt="" style="width:80%">
            </div>
            <div class="col-md-4">
                <h3 style="font-weight:100">Es un proyecto de</h3>
                <img src="/images/ciecode.png" alt="" style="width:20%">
                <img src="/images/porcausa.png" alt="" style="width:30%">
                <img src="/images/clm.jpg" alt="" style="width:20%">
                <h3 style="font-weight:100">Con la colaboración de</h3>
                <img src="/images/unicef.gif" alt="" style="width:30%">
                <img src="/images/logoEAPN.png" alt="" style="width:30%">
            </div>
            <div class="col-md-4">
                <h3 style="font-weight:100">Financiado por</h3>
                <img src="/images/plataforma.jpg" alt="" style="width:30%">
                <img src="/images/eea.jpg" alt="" style="width:30%">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 old">
                <h1>Ubicación territorial del Proyecto</h1>
            </div>
            <div class="col-md-6" style="padding-top:120px; font-weight:100">
                <p>
                    El ámbito de ejecución del proyecto es el territorio español. A través del diseño de 19 talleres el proyecto estará presente en todas las CCAA españolas así como las ciudades autónomas de Ceuta y Melilla.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="/images/mapa.png" alt="Ubicación territorial del Proyecto" width="100%">
            </div>
        </div>
    </div>
</template>