<template name="about">
    <div id="about" class="containerglob darkpatt">
        <section id="description">
            <div class="row content-row">
                <div class="col-sm-4 col-sm-offset-1 left">
                    <img src="/images/logos-tipi/logo1_blanco.svg" width="60%" alt="Logo de Tipi">
                </div>
                <div class="col-sm-6">
                    <p class="desc desc-2x text-center">
                        Es un proyecto que pretende fortalecer las capacidades de la sociedad civil para incidir en los procesos de toma de decisión política y en la generación de un debate público informado sobre la pobreza y la justicia social en España. Las organizaciones que formamos parte de TIPI queremos:
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">
                                <ul class="list-unstyled text-center white-text">
                                    <li class="lined">Poner el valor la política como la solución a los problemas de pobreza y desigualdad.</li>
                                    <li class="lined">Dotar a la ciudadanía de herramientas para poder exigir a los diputados que se avance en dar soluciones políticas a la pobreza y la exclusión social.</li>
                                    <li class="lined">Generar, a través del acceso a la información, un incentivo a las buenas prácticas políticas.</li>
                                </ul>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </section>
        <section id="credits">
            <div class="row content-row yellow-block">
                <div class="col-sm-12 text-center">
                    <h2>Tipi es un proyecto de:</h2>
                </div>
            </div>
            <div class="row white-block">
                <div class="col-sm-12 center">
                    <a href="http://unmundosalvadorsoler.org/ciecode/" target="_blank"><img src="/images/ciecode.png" alt="Logo de Ciecode (Fundación Salvador Soler)"></a>
                    <a href="http://eapn-clm.org/" target="_blank"><img src="/images/clm.jpg" alt="Logo de EAPN - Castilla la Mancha"></a>
                    <a href="http://porcausa.org" target="_blank"><img src="/images/porcausa.png" alt="Logo de Por Causa"></a>
                </div>
            </div>
            <div class="row content-row yellow-block">
                <div class="col-sm-6 text-center">
                    <h3>En colaboración con:</h3>
                </div>
                <div class="col-sm-6 text-center">
                    <h3>Financiado por:</h3>
                </div>
            </div>
            <div class="row content-row white-block">
                <div class="col-sm-6 center">
                    <a href="http://www.eapn.es/" target="_blank"><img src="/images/logoEAPN.png" alt="Logo de EAPN España"></a>
                    <a href="http://www.unicef.org/" target="_blank"><img src="/images/unicef.gif" alt="Logo de UNICEF"></a>
                </div>
                <div class="col-sm-6 center">
                    <a href="http://eeagrants.com/" target="_blank"><img src="/images/eea.jpg" alt="Logo de EEA Grants"></a>
                    <a href="http://plataformaong.org/" target="_blank"><img src="/images/plataforma.jpg" alt="Logo de Plataforma de ONG de Acción Social"></a>
                </div>
            </div>
        </section>
        <section id="social">
            <div class="row content-row yellow-block">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <h2>Síguenos en la red</h2>
                    <a href="https://twitter.com/tipi_ciudadano" target="_blank"><i class="fa fa-twitter-square"></i> @tipi_ciudadano</a>
                    <br>
                    <a href="https://facebook.com/tipiciudadano" target="_blank"><i class="fa fa-facebook-square"></i> facebook.com/tipiciudadano</a>
                </div>
            </div>
        </section>
    </div>
</template>