<template name="about">
    <div id="about" class="containerglob darkpatt">
        <section class="description">
            <div class="row content-row">
                <div class="col-sm-4 col-sm-offset-1 left">
                    <img src="/images/logos-tipi/logo1_blanco.svg" width="60%" alt="Logo de Tipi">
                </div>
                <div class="col-sm-6">
                    <p class="desc desc-2x">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem minus sed quam doloremque porro, iusto harum provident dolores quas modi sequi repudiandae facere culpa omnis suscipit explicabo dignissimos eveniet asperiores? <br><br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem minus sed quam doloremque porro, iusto harum provident dolores quas modi sequi repudiandae facere culpa.
                    </p>
                </div>
            </div>
        </section>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <h2 class="center">Áreas de trabajo</h2>
            </div>
        </div>
        <section class="dictionaries">
            <div class="container">
                <div class="row content-row">
                    <div class="col-sm-4 dictionary-block">
                        <img class="dictionary-icon" src="/images/svgs/dependencia-02.svg" alt="Dependencia">
                        <h3>Dependencia</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eos fugiat, dicta sequi, sed aspernatur perferendis cumque vero incidunt magnam sint similique culpa maiores esse harum repudiandae porro, reprehenderit nemo.</p>
                    </div>
                    <div class="col-sm-4 dictionary-block">
                        <img class="dictionary-icon" src="/images/svgs/discapacidad-02.svg" alt="Discapacidad">
                        <h3>Discapacidad</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, soluta! Culpa doloribus, tempore maiores velit delectus ullam neque reprehenderit ut tenetur numquam, sint accusantium nisi quasi quisquam nemo iste cumque.</p>
                    </div>
                    <div class="col-sm-4 dictionary-block">
                        <img class="dictionary-icon" src="/images/svgs/drogadiccion-02.svg" alt="Drogadicción">
                        <h3>Drogadicción</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt optio eaque, velit eligendi, deleniti laborum labore repudiandae quia amet mollitia harum id voluptatem quae voluptates incidunt tempore molestias vitae, repellendus.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 dictionary-block">
                        <img class="dictionary-icon" src="/images/svgs/educacion-02.svg" alt="Educación">
                        <h3>Educación</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quisquam, ipsam voluptas magnam? Quas provident cum quibusdam minima mollitia quaerat, dicta nobis quam dignissimos quia pariatur maxime dolore consectetur aliquam!</p>
                    </div>
                    <div class="col-sm-4 dictionary-block">
                        <img class="dictionary-icon" src="/images/svgs/empleo-02.svg" alt="Empleo">
                        <h3>Empleo</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus reprehenderit, quae. Quia quam maxime dolorum, commodi possimus rem nostrum nisi incidunt. Nemo, molestias magni et dolorum repudiandae repellat consequuntur, sed!</p>
                    </div>
                    <div class="col-sm-4 dictionary-block">
                        <img class="dictionary-icon" src="/images/svgs/extranjera-02.svg" alt="Población extranjera">
                        <h3>Población extranjera</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos reprehenderit dolorem, incidunt ducimus non amet dicta porro minus iste repudiandae aperiam magnam atque aspernatur, dolore odit suscipit officiis soluta molestiae?</p>
                    </div>
                </div>
                <div class="row">    
                    <div class="col-sm-4 dictionary-block">
                        <img class="dictionary-icon" src="/images/svgs/gitana-02.svg" alt="Población gitana">
                        <h3>Población gitana</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, optio possimus dignissimos consectetur adipisci vero. Pariatur consectetur dolor facere voluptatibus quaerat eaque temporibus, eum amet vero optio, voluptatem, quos nisi.</p>
                    </div>
                    <div class="col-sm-4 dictionary-block">
                        <img class="dictionary-icon" src="/images/svgs/infancia-02.svg" alt="Infancia">
                        <h3>Infancia</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, distinctio, perferendis. Laboriosam, ad, et! Dolor quasi, quas, repellendus maiores explicabo natus non dicta deserunt tenetur vitae fuga omnis. Aliquid, dignissimos.</p>
                    </div>
                    <div class="col-sm-4 dictionary-block">
                        <img class="dictionary-icon" src="/images/svgs/mayores-02.svg" alt="Mayores">
                        <h3>Mayores</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis nulla, similique doloribus ea modi, a cum nemo fugiat dolores animi inventore facilis labore atque eius aliquam rerum id. Fugiat, itaque.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 dictionary-block">
                        <img class="dictionary-icon" src="/images/svgs/reclusa-02.svg" alt="Población reclusa">
                        <h3>Población reclusa</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum obcaecati nulla modi consequuntur assumenda maiores laboriosam nisi quidem vero, suscipit velit incidunt at ex esse sequi veritatis quam ipsam. Possimus.</p>
                    </div>
                    <div class="col-sm-4 dictionary-block">
                        <img class="dictionary-icon" src="/images/svgs/renta-02.svg" alt="Renta">
                        <h3>Renta</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dignissimos nostrum nulla, quae expedita reprehenderit. Consequuntur minima repellat reiciendis vel eveniet ea nulla sequi dolorem minus ab, suscipit impedit, laudantium?</p>
                    </div>
                    <div class="col-sm-4 dictionary-block">
                        <img class="dictionary-icon" src="/images/svgs/sanidad-02.svg" alt="Sanidad">
                        <h3>Sanidad</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam repellendus alias et, sequi reprehenderit optio maiores aliquam voluptas, atque nostrum voluptatem non nobis recusandae quam, nihil tenetur consequuntur nulla! Voluptatem.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 dictionary-block">
                        <img class="dictionary-icon" src="/images/svgs/sintecho-02.svg" alt="Sin techo">
                        <h3>Sin techo</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi veritatis consectetur placeat maiores iure doloremque eum, odit repudiandae quos! Vitae odit, ab fugit animi incidunt accusamus aperiam alias fuga doloremque!</p>
                    </div>
                    <div class="col-sm-4 dictionary-block">
                        <img class="dictionary-icon" src="/images/svgs/violenciagenero-02.svg" alt="Violencia de género">
                        <h3>Violencia de género</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus labore quam nostrum praesentium possimus quo blanditiis fuga doloribus rerum, impedit corporis omnis explicabo aut consectetur fugiat doloremque accusantium recusandae alias!</p>
                    </div>
                    <div class="col-sm-4 dictionary-block">
                        <img class="dictionary-icon" src="/images/svgs/vivienda-02.svg" alt="Vivienda">
                        <h3>Vivienda</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae quisquam quasi facere, illum impedit sed alias nemo ad beatae veritatis, dignissimos. Tempora minima consectetur minus molestias error facilis dolorum magni.</p>
                    </div>
                </div>
            </div>
        </section>

        <hr>
        <section class="credits">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="center">Créditos</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h4>Un proyecto de...</h4>
                        <img src="/images/ciecode.png" alt="">
                        <img src="/images/clm.jpg" alt="">
                        <img src="/images/porcausa.png" alt="">
                    </div>
                    <div class="col-md-4">
                        <h4>Financiado por...</h4>
                        <img src="/images/eea.jpg" alt="">
                        <img src="/images/plataforma.jpg" alt="">
                    </div>
                    <div class="col-md-4">
                        <h4>Con la colaboración de...</h4>
                        <img src="/images/logoEAPN.png" alt="">
                        <img src="/images/unicef.gif" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>