<template name="apidoc">

    {{> pageTitle title=title}}
    <div id="apidoc" class="container page">
        <div class="row">
            <div class="col-sm-8">

                <h3>Obtener diccionarios disponibles</h3>
            	<div class="code-api">
            	<p>/api/v1/dicts</p>
            	</div>
            	<p> Obtiene todos los diccionarios disponibles.</p>

				
				<h4>Respuesta</h4>
            	<div class="info-api">
            	<p>[</p>
            	<div class="api-response-1">
					{<br>
					<div class="api-response-2">
						name: ""<br>
					</div>
					},<br>
					...<br>
            	</div>
				<p>]</p>
            	</div>
				<h4>Errores</h4>
            	<table class="api-errors">
					<thead>
						<tr>
							<th>Código HTTP</th>
							<th>Motivo</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><code>404</code></td>
							<td>Si no hay ningun diccionario.</td>
						</tr>
					<tr>
						<td><code>405</code></td>
						<td>Si el método es POST o cualquier otra función.</td>
					</tr>
				</tbody>
				</table>

            	<h3>Obtener iniciativas</h3>

            	<div class="code-api">
            	<p>/api/v1/tipis</p>
            	</div>
    	        <p> Obtiene las últimas 20 iniciativas para todos los diccionarios.</p>

                <h4>Parámetros</h4>
            	<div class="info-api">
	            	<table>
					<thead>
					<tr>
						<th>Parámetro</th>
						<th>Valor</th>
						<th>Valor por defecto</th>
						<th>Descripción</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>dict</td>
						<td>Opcional</td>
						<td></td>
						<td>diccionario</td>
						</tr>
					<tr>
						<td>terms</td>
						<td>Opcional</td>
						<td></td>
						<td>término (uno o más de uno)</td>
						</tr>
					<tr>
						<td>limit</td>
						<td>Opcional</td>
						<td>10</td>
						<td>Límite de iniciativas</td>
					</tr>
					<tr>
						<td>offset</td>
						<td>Opcional</td>
						<td>0</td>
						<td>Offset respecto a las iniciativas</td>
					</tr>
					</tbody>
				</table>
            	</div>
				<div class="code-api">
            	<p>/api/v1/tipis?dict=igualdad+de+género&limit=5</p>
            	</div>
    	        <p> Obtiene las últimas iniciativas para todos los diccionarios o el diccionario/terminos indicado/os.</p>

                <h4>Respuesta</h4>
            	<div class="info-api">
            	<p>[</p>
            	<div class="api-response-1">
					{<br>
					<p class="api-response-2">_id: {},<br>
						autor_diputado: [ ],<br>
						lugar: "",<br>
						tipotexto: "",<br>
						tipo: "",<br>
						url: "",<br>
						fecha: "",<br>
						autor_otro: [ ],<br>
						tramitacion: "",<br>
						titulo: "",<br>
						ref: "",<br>
						fechafin: "",<br>
						dicts: { tipi: [ ] },<br>
						terms: { tipi: [] },<br>
						is: { tipi: },<br>
						annotate: { tipi: }<br>
					</p>
					}<br>
				</div>
					]<br>
            	</div>


                <h4>Errores</h4>
            	<table class="api-errors">
					<thead>
						<tr>
							<th>Código HTTP</th>
							<th>Motivo</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><code>404</code></td>
							<td>Si falla o no se ha podido encontrar el slug.</td>
						</tr>
					<tr>
						<td><code>405</code></td>
						<td>Si el método es POST o cualquier otra función.</td>
					</tr>
				</tbody>
				</table>
            	
            	<h3>Obtener detalle de una iniciativa</h3>
            	<div class="code-api">
            	<p>/api/v1/tipis/:_id</p>
            	</div>
     	    	<p> Obtiene todos los datos de una iniciativa concreta.</p>

            	<h4>Parámetros</h4>
            	<div class="info-api">
	            	<table>
					<thead>
					<tr>
						<th>Parámetro</th>
						<th>Valor</th>
						<th>Valor por defecto</th>
						<th>Descripción</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>_id</td>
						<td>Obligatorio</td>
						<td></td>
						<td>ID de la iniciativa</td>
						</tr>
					</tbody>
				</table>
            	</div>

                <h4>Respuesta</h4>
            	<div class="info-api">
                                    {<br>
                                    <p class="api-response-1">_id: {},<br>
                                            autor_diputado: [ ],<br>
                                            lugar: "",<br>
                                            tipotexto: "",<br>
                                            tipo: "",<br>
                                            url: "",<br>
                                            fecha: "",<br>
                                            autor_otro: [ ],<br>
                                            tramitacion: "",<br>
                                            titulo: "",<br>
                                            ref: "",<br>
                                            fechafin: "",<br>
                                            dicts: { tipi: [ ] },<br>
                                            terms: { tipi: [] },<br>
                                            is: { tipi: },<br>
                                            annotate: { tipi: }<br>
                                    </p>
                                    }<br>
            	</div>

				<h4>Errores</h4>
				<table class="api-errors">
					<thead>
						<tr>
							<th>Código HTTP</th>
							<th>Motivo</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><code>404</code></td>
							<td>Si falla o no se ha podido encontrar el _id.</td>
						</tr>
					<tr>
						<td><code>405</code></td>
						<td>Si el método es POST o cualquier otra función.</td>
					</tr>
				</tbody>
				</table>

                <h3>Obtener estadísticas de todas las iniciativas</h3>
            	<div class="code-api">
            	<p>api/v1/stats/overall</p>
            	</div>
            	<p> Obtiene las estadísticas de todas las iniciativas para cada diccionario o para el diccionario indicado.</p>
                <h4>Parámetros</h4>
            	<div class="info-api">
	            	<table>
					<thead>
					<tr>
						<th>Parámetro</th>
						<th>Valor</th>
						<th>Valor por defecto</th>
						<th>Descripción</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>dict</td>
						<td>Opcional</td>
						<td></td>
						<td>diccionario</td>
						</tr>
					</tbody>
				</table>
            	</div>

                <h4>Respuesta</h4>
            	<div class="info-api">
            	<p>[</p>
            	<div class="api-response-1">
					{<br>
					<p class="api-response-2">
                                                _id: "",<br>
						count: ""<br>
					</p>
                                        }<br>
                                        ...
            	</div>
                ]<br>
            	</div>
				<h4>Errores</h4>
            	<table class="api-errors">
					<thead>
						<tr>
							<th>Código HTTP</th>
							<th>Motivo</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><code>404</code></td>
							<td>Si falla o no se ha podido encontrar el slug.</td>
						</tr>
					<tr>
						<td><code>405</code></td>
						<td>Si el método es POST o cualquier otra función.</td>
					</tr>
				</tbody>
				</table>


				<h3>Obtener estadísticas por diputada/o</h3>

            	<div class="code-api">
            	<p>/api/v1/stats/bydeputies</p>
            	</div>
            	<p>Obtiene las/os 3 diputadas/os más activas/os de todos los diccionarios o para el indicado.</p>

				<h4>Parámetros</h4>
            	<div class="info-api">
	            	<table>
					<thead>
					<tr>
						<th>Parámetro</th>
						<th>Valor</th>
						<th>Valor por defecto</th>
						<th>Descripción</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>dict</td>
						<td>Opcional</td>
						<td></td>
						<td>diccionario</td>
						</tr>
					</tbody>
				</table>
            	</div>

                <h4>Respuesta</h4>
            	<div class="info-api">
            	<p>[</p>
            	<div class="api-response-1">
					{<br>
					<div class="api-response-2">
                                            bydeputies: [
                                            <div class="api-response-2">
                                                {deputies: [ {count: "", _id: "" }, ... ],<br>
                                                _id: ""},<br>
                                                ...<br>
                                            </div>
					</div>
                                        }<br>
            	</div>
                ]<br>
            	</div>
				<h4>Errores</h4>
            	<table class="api-errors">
					<thead>
						<tr>
							<th>Código HTTP</th>
							<th>Motivo</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><code>404</code></td>
							<td>Si falla o no se ha podido encontrar el slug.</td>
						</tr>
					<tr>
						<td><code>405</code></td>
						<td>Si el método es POST o cualquier otra función.</td>
					</tr>
				</tbody>
				</table>
				
                <h3>Obtener estadísticas por grupo parlamentario</h3>

            	<div class="code-api">
            	<p>/api/v1/stats/bygroups</p>
            	</div>
            	<p>Obtiene los 3 grupos parlamentarios más activos de todos los diccionarios o para el indicado.</p>

                <h4>Parámetros</h4>
            	<div class="info-api">
	            	<table>
					<thead>
					<tr>
						<th>Parámetro</th>
						<th>Valor</th>
						<th>Valor por defecto</th>
						<th>Descripción</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>dict</td>
						<td>Opcional</td>
						<td></td>
						<td>diccionario</td>
						</tr>
					</tbody>
				</table>
            	</div>

                <h4>Respuesta</h4>
            	<div class="info-api">
            	<p>[</p>
            	<div class="api-response-1">
					{<br>
					<div class="api-response-2">
                                            bygroups: [
                                            <div class="api-response-2">
                                                {groups: [ {count: "", _id: "" }, ... ],<br>
                                                _id: ""},<br>
                                                ...<br>
                                            </div>
					</div>
                                        }<br>
            	</div>
                ]<br>
            	</div>
				<h4>Errores</h4>
            	<table class="api-errors">
					<thead>
						<tr>
							<th>Código HTTP</th>
							<th>Motivo</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><code>404</code></td>
							<td>Si falla o no se ha podido encontrar el slug.</td>
						</tr>
					<tr>
						<td><code>405</code></td>
						<td>Si el método es POST o cualquier otra función.</td>
					</tr>
				</tbody>
				</table>


            </div>
        </div>
    </div>
</template>
