<template name="cookies">
    <div id="cookies">
        {{> pageTitle title="Cookies"}}
        <div class="container page">
            <div class="row">
                <div class="col-sm-8">
                    <h2>¿Qué es una cookie?</h2>
                    <p>Una cookie es una pequeña pieza de texto enviada a tu navegador por una web que has visitado. Ayuda a la web a recordar información sobre tu visita, como tu idioma preferente y otros ajutes. Esto puede hacer tu próxima visita más sencila y el sitio más útil para ti. Las cookies jugan un rol importante. Sin ellas, usar la web sería una experiencia mucho más frustante.</p>
                    <p>En el siguiente video de Google, puedes ver una muy buena explicaciónsobre cómo funcionan las cookies:</p>
                    <p>
                        <iframe src="https://www.youtube.com/embed/TBR-xtJVq7E?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen="" frameborder="0" height="315" width="560"></iframe>
                    </p>
                    <h2>Google Analytics Cookies</h2>
                    <p>Este sitio usa Google Analytics para entender mejor cómo se usa. El objetivo principal con Google Analytics es aprender y mejorar el sitio para así poder ofrecer la mejor experiencia al usuario.</p>
                    <h2>Deshabilitar cookies</h2>
                    <p>Sin embargio, si quieres puedes deshabilitar las cookies de este sitio o otro, recomendamos que compruebes la sección dea ayuda de tu navegador para así poder deshabilitarlas.</p>
                </div>
            </div>
        </div>
    </div>
</template>
