<template name="csv">
    {{> pageTitle title=title}}
    <div class="container page">
        <div class="row">
            <div class=col-sm-8>
                <p>Sigue los siguientes pasos para abrir un archivo .csv con tu Microsoft Excel:</p>
                <p>Descarga el archivo .csv desde TiPi pinchando en la opción “Descargar datos” que aparece sobre los resultados de tu búsqueda en la parte derecha.</p>
                <p>Una vez tienes descargado el archivo abre un documento de Excel en blanco. Pincha en “datos” y elige la opción “desde el texto”. Se abrirá un cuadro de diálogo para importar un archivo. Selecciona el .csv con tu descarga y pincha en "obtener".</p>
                <p>Se abrirá otro cuadro de diálogo en el que tendrás que seguir tres pasos. En el primero tendrás que seleccionar la opción "Delimitados - Caracteres como comas o tabulaciones separan campos" y en el menú "Origen del archivo" tendrás que seleccionar “Unicode (UTF-8)”. Después pincha en "siguiente >".</p>
                <p>En el segundo, de entre los delimitadores que ofrece, tendrás que seleccionar "Coma" y asegurarte que el "calificador de texto" que tienes seleccionado es una comilla doble. Después pincha en "Siguiente >".</p>
                <p>En el último paso, no hace falta que cambies nada. Simplemente pincha en "Finalizar".</p>
                <p>Por último, Excel te preguntará desde qué celda quieres insertar los datos. Automáticamente te ofrece la que tienes seleccionada con el cursor, que suele ser la A1 cuando abres un nuevo documento. Si quieres cambiarla, tan sólo tienes que introducir los valores que tenga la que has elegido y pinchar en "Aceptar".</p>
                <p>Y este es el último paso. Una vez finalizado ya tendras abierto con tu Excel el archivo que has descargado con los resultados de tu búsqueda en TiPi.</p>
            </div>
        </div>
    </div>
</template>
