<template name="homepage">
    <div id="homepage" class="containerglob">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img class="big-logo" src="/images/logos-tipi/logo4_blanco.svg" width="80%">
                </div>
            </div>
        </div>
        <div id="cajaquees" class="row content-row oldwhite darkpatt">
            <div class="col-md-12 text-center">
                <h1>¿Qué es?</h1>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="desc">Es un proyecto que pretende fortalecer las capacidades de la sociedad civil para incidir en los procesos de toma de decisión política y en la generación de un debate público informado sobre la pobreza y justicia social en España.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="cajainiciativas" class="row content-row oldwhite darkpatt">
            <div class="col-md-12 text-center">
                <h1>¿Qué hacemos?</h1>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="desc">Hacemos seguimiento de la actividad parlamentaria en temas de infancia y pobreza.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="cajablog" class="row content-row oldwhite darkpatt">
            <div class="col-md-12">
                <h1 class="text-center">Periodismo de Datos</h1>
                <p class="text-center">Dedicamos un espacio a la reflexión, análisis y detalle de nuestras actividades.</p>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="line-bottom">
                            <h3 class="lato">Talleres</h3>
                            <ul>
                                <li><a href="#">Madrid, martes 3-11-2014</a></li>
                            </ul>
                        </div>
                        <div class="line-bottom">
                            <h3 class="lato">Artículos</h3>
                            <ul class="unstyled">
                                {{#each lastEntries}}
                                <li><a href="#">{{title}}</a></li>
                                {{/each}}
                            </ul>
                        </div>
                        <div class="right">
                            <h3>Investigación de</h3>
                            <img src="/images/porcausa2.png" alt="" style="width:20%; vertical-align:center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="cajaparticipa" class="containerglob">
        <div class="row content-row oldwhite">
            <div class="col-md-12 text-center">
                <h1>Participa</h1>
                <p>Nuestro objetivo es capacitar y fortalecer la interlocución entre decisores políticos y generadores de opinión.</p>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <a href="#" class="btn btn-secondary" style="margin-top: 30px;"><i class="fa fa-paper-plane-o fa-2x"></i>Contacta con un/a diputado/a</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>