<template name="homepage">
    <div class="containerglob">

        <div id="cajaca" class="row oldwhite">
            <div class="col-md-6">
                <h1>¿Qué es?</h1>
                <hr>
                <p>
                    Es un proyecto que pretende fortalecer las capacidades de la sociedad civil para incidir en los procesos de toma de decisión política y en la generación de un debate público informado sobre la pobreza y justicia social en España. 
                </p>
            </div>
            <div class="col-md-6" style="padding-top:120px;">
                <img src="/images/logos-tipi/logo4_blanco.svg" width="100%">
            </div>
        </div>

        <div id="cajainiciativas" class="row old blog">
            <section>
                <div class="col-md-6">
                    <h1>¿Qué hacemos?</h1>
                    <hr>
                    <p>
                        Hacemos seguimiento de la actividad parlamentaria en temas de infancia y pobreza.
                    </p>
                </div>
                <div class="col-md-6">
                    <!-- Add image here -->
                </div>
            </section>
        </div>

        <div id="cajaparticipa" class="row old">
            <div class="col-md-6">
                <h1>Participa</h1>
                <hr>
                <p style="color: white">
                    Nuestro objetivo es capacitar y fortalecer la interlocución entre decisores políticos y generadores de opinión.
                </p>
            </div>
            <div class="col-md-6 nube2 center">
                <br><br><br><br>
                <i class="fa fa-paper-plane-o fa-5x"></i>
                <h3>¡Contacta con un diputado!</h3>
            </div>
        </div>

        <div id="cajablog" class="row">
            <div class="col-md-6 blog old">
                <h1>Blog y Periodismo de Datos</h1>
                <hr>
                <p>Dedicamos un espacio a la reflexión, análisis y detalle de nuestras actividades.</p>
            </div>    
            <div class="col-md-6 right oswald">
                <h1><mark>Lo más reciente</mark></h1>
                <h3>Talleres <small>Madrid, martes 3-11-2014</small></h3>
                {{lastEntry}}
                <h3>Artículos <small><a href="#">{{#with lastEntry }} {{title}} {{/with}}</a></small></h3>
                <hr>
                <br>
                <h2 class="oswald">Investigación de</h2>
                <img src="/images/porcausa2.png" alt="" style="width:20%; vertical-align:center">
                <br>
            </div>
        </div>
        

    </div>
</template>