<template name="homepage">
    <div id="homepage" class="containerglob">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                    <img class="big-logo" src="/images/logos-tipi/logo4_blanco.svg" />
                </div>
            </div>
        </div>
        <div id="cajaquees" class="row content-row old oldwhite darkpatt">
            <div class="col-md-12 text-center">
                <h1>¿Qué es?</h1>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="desc">Es un proyecto que nace desde la sociedad civil para fortalecer sus capacidades de incidencia en los procesos de toma de decisión política y en la generación de un debate público informado sobre la pobreza y la justicia social en España.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="cajainiciativas" class="row content-row old oldwhite darkpatt">
            <div class="col-md-12 text-center">
                <h1>¿Qué hacemos?</h1>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="desc">
                            El proyecto TIPI tiene diferentes herramientas:
                            <ul class="list-unstyled text-center">
                                <li class="lined"><strong>Escáner político</strong>: herramienta online de transparencia, seguimiento de la actividad parlamentaria y rendición de cuentas.</li>
                                <li class="lined"><strong>Periodismo de investigación</strong>: datos y análisis sobre la pobreza y la exclusión social en España.</li>
                                <li class="lined"><strong>Participación ciudadana</strong>: instrumentos de participación y espacios de encuentro entre ciudadanos, decisores políticos y generadores de opinión.</li>
                                <li class="lined"><strong>Talleres</strong>: espacios de innovación social para la incidencia política y el periodismo de datos para la lucha contra la pobreza.</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
         <div id="cajalatest" class="row content-row old oldwhite darkpatt">
            <div class="col-md-12">
                <h1 class="text-center">Últimas novedades</h1>
                <div class="container">    
                    <div class="row">
                        <div class="col-md-6 latest">
                            <h3 class="lato">Escáner</h3>
                            <a href="{{pathFor 'scannervizz'}}"><img src="/images/scannervizz.png" alt="Previa del Escaner" style="width:80%; vertical-align:center;"></a>
                        </div>
                        <div class="col-md-6 latest">
                            <h3>Periodismo de datos</h3>
                            <a href="http://porcausa.org/datos/" target="_blank"><img src="/images/porcausa2.png" alt="Logo PorCausa.org" style="width:50%; vertical-align:center;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="cajaparticipa" class="">
        <div class="row content-row old oldwhite">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h1>Participa</h1>
                <p class="desc">Queremos que TIPI sea una plataforma de encuentro, interacción e intercambio de experiencias entre ciudadanos, organizaciones, medios de comunicación y diputados.</p>
                <a href="/participa" class="btn btn-secondary" style="margin-top: 30px;">Quiero participar</a>
            </div>
        </div>
    </div>
    </div>
</template>
