<template name="participa">
  <div class="containerglob darkpatt">
      <div class="row">
          <div class="col-md-12 oldwhite">
              <h1 class="left">Participa</h1>
              <hr>
          </div>
      </div>
      <div class="container">
        <div class="row">
            <div class="col-sm-8 text-center">
                <h2 class="yellow-text">¿Cómo participar?</h2>
                <p class="white-text">
                    Queremos que TIPI sea una plataforma de encuentro, interacción e intercambio de experiencias entre ciudadanos, organizaciones, medios de comunicación y diputados.
                </p>
                <p class="white-text">
                    Date de alta en nuestro <a href="{{pathFor 'login' }}">Sistema de Alertas</a> y que no se te escape nada.
                </p>
                <br><br>
                <div class="row">
                    <div class="col-sm-6">
                        <i class="fa fa-search-plus fa-2x yellow-text"></i>
                        <p class="white-text">Accede a información. Entérate de toda la actividad parlamentaria sobre pobreza y exclusión social y los diputados que están detrás.</p>
                    </div>
                    <div class="col-sm-6 white-text">
                        <i class="fa fa-comments fa-2x yellow-text"></i>
                        <p class="white-text">Comenta y propón cambios en iniciativas parlamentarias que están siendo tramitadas en el Congreso de los Diputados.</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6 white-text">
                        <i class="fa fa-institution fa-2x yellow-text"></i>
                        <p class="white-text">Si tienes iniciativas sobre estos temas, compártelas para que los diputados las planteen en el Parlamento.</p>
                    </div>
                    <div class="col-sm-6 white-text">
                        <i class="fa fa-calendar fa-2x yellow-text"></i>
                        <p class="white-text">Publica tus eventos o artículos en el blog e infórmate de eventos que te interesan.</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 white-text">
                        <i class="fa fa-user fa-2x yellow-text"></i>
                        <p class="white-text">Contacta y pregunta a un diputado.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <a href="{{pathFor 'profiles'}}">
                    <h3>¿Quién está en TiPi?</h3>
                </a>
                <br>
                <hr>
                <br>
                {{#if currentUser}}
                    <a href="{{pathFor 'forumAdd'}}" class="btn btn-secondary"><i class="fa fa-comments-o"></i> Iniciar conversación</a>
                    <br><br>
                {{/if}}
                <a href="{{pathFor 'newPosts'}}">Últimas conversaciones</a>
                <br>
                <a href="{{pathFor 'bestPosts'}}">Conversaciones más valoradas</a>
            </div>
        </div>
      </div>
  </div>
</template>
