<template name="quepasocon">
    <div class="containerglob darkpatt">
        <div class="row">
            <div class="col-md-12 oldwhite">
                <h1 class="left">Qué pasó con... eso que aprobó el Congreso?</h1>
                <hr>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <p class="white-text justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat quia ad adipisci, labore, recusandae sapiente aperiam rerum placeat tempora commodi consequatur quidem incidunt doloribus accusantium, eum quibusdam vero, sed iste!</p>
                    <p class="white-text justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat quia ad adipisci, labore, recusandae sapiente aperiam rerum placeat tempora commodi consequatur quidem incidunt doloribus accusantium, eum quibusdam vero, sed iste! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat quia ad adipisci, labore, recusandae sapiente aperiam rerum placeat tempora commodi consequatur quidem incidunt doloribus accusantium, eum quibusdam vero, sed iste!</p>
                </div>
            </div>
            <br>
            <br>
            <div class="row qpc-block">
                <div class="col-sm-3 quepasocon complete">
                    <i class="fa fa-check-circle fa-2x"></i>
                    <br>
                    <span>Cumplido</span>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <p class="white-text justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor molestias sapiente nisi placeat assumenda amet ullam neque soluta aliquid reiciendis nam aperiam quam esse rerum, explicabo dolorum accusamus quos dignissimos.</p>
                </div>
            </div>
            <div class="row qpc-block">
                <div class="col-sm-3 quepasocon uncomplete">
                    <i class="fa fa-minus-circle fa-2x"></i>
                    <br>
                    <span>No cumplido</span>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <p class="white-text justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor molestias sapiente nisi placeat assumenda amet ullam neque soluta aliquid reiciendis nam aperiam quam esse rerum, explicabo dolorum accusamus quos dignissimos.</p>
                </div>
            </div>
            <div class="row qpc-block">
                <div class="col-sm-3 quepasocon partially">
                    <i class="fa fa-adjust fa-2x"></i>
                    <br>
                    <span>Parcialmente cumplido</span>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <p class="white-text justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor molestias sapiente nisi placeat assumenda amet ullam neque soluta aliquid reiciendis nam aperiam quam esse rerum, explicabo dolorum accusamus quos dignissimos.</p>
                </div>
            </div>
            <div class="row qpc-block">
                <div class="col-sm-3 quepasocon pending">
                    <i class="fa fa-clock-o fa-2x"></i>
                    <br>
                    <span>Pendiente de evaluación</span>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <p class="white-text justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor molestias sapiente nisi placeat assumenda amet ullam neque soluta aliquid reiciendis nam aperiam quam esse rerum, explicabo dolorum accusamus quos dignissimos.</p>
                </div>
            </div>
        </div>
    </div>
</template>