<template name="quepasocon">
    {{> pageTitle title=title}}
    <div id="quepasocon">

        <h3>¿Qué es... Qué pasó con?</h3>
        <p class="white-text justify">Es una iniciativa de transparencia y rendición de cuentas. Damos seguimiento al grado de cumplimiento por parte del Gobierno de las orientaciones y disposiciones acordadas en el Parlamento (Congreso de los Diputados). Esta ausencia de rendición de cuentas del Gobierno es un problema relevante para el Parlamento y para la democracia en nuestro país.</p>
        
        <h3>¿Qué son las iniciativas de orientación política?</h3>
        <p class="white-text justify">El Parlamento, además de controlar la actividad del Gobierno y de debatir y aprobar leyes, aprueba propuestas y recomendaciones. Éstas son Proposiciones No de Ley, Mociones y Dictámenes, entre otros. Es decir, son propuestas no legislativas para que el Gobierno desarrolle diferentes actividades. Estas propuestas y orientaciones son muy variadas: desde mantener una posición concreta en una cumbre o negociaciones internacionales, hasta priorizar líneas de actuación, regular una determinada materia según unas orientaciones concretas o proporcionar información al Congreso a través de informes y comparecencias.</p>

        <h3>¿Qué pasa con estas iniciativas de orientación política una vez se aprueban?</h3>
        <p class="white-text justify">Lamentablemente poco. No existen mecanismos para velar por el cumplimiento. Como su propio nombre indica, son iniciativas que pretenden orientar la actividad del Gobierno por lo que éste último no está obligado a cumplirlas. Sin embargo, creemos que la información y transparencia en este proceso son esenciales por varias razones:</p>
            <ul>
                <li class="white-text justify">Por su volumen y peso dentro de la actividad de nuestro parlamento: Las iniciativas de Orientación Política representan casi el 50 por ciento del total de la actividad del Congreso de los Diputados (fuente: base de datos del Proyecto Avizor).</li>
                <li class="white-text justify">Por la gran cantidad de tiempo dedicado: Las organizaciones de la sociedad civil y los diputados invierten mucho tiempo en elaborar y negociar estas iniciativas pero una vez que se aprueban no se sabe nada de ellas.</li>
                <li class="white-text justify">Por calidad de nuestra democracia: Aunque el Gobierno no tenga la obligación legal de rendir cuentas sobre el cumplimiento de las orientaciones parlamentarias, sí existe una obligación moral relacionada con la esencia de la democracia. En definitiva, responder de forma transparente sobre el cumplimiento o no de estas peticiones es un ejercicio de rendición de cuentas ante el Parlamento y ante la sociedad esencial para la democracia.</li>
        </ul>
        <p class="white-text justify">Por eso desde ¿Qué pasó con? pedimos que se creen herramientas y mecanismos públicos abiertos y accesibles de control y seguimiento de estas iniciativas. Hasta entonces, nos hemos propuesto aportar un poco de luz y analizar este cumplimiento. Pretendemos contribuir a la transparencia y rendición de cuentas.</p>

        <div class="row">
            <div class="col-sm-9">
                <h3>¿Cómo evaluamos?</h3>
                <p class="white-text justify">El análisis da lugar a tres resultados posibles:El análisis da lugar a tres resultados posibles: <br><br> </p>
            </div>
        </div>
        <div class="row qpc-block">
            <div class="col-sm-3 quepasocon complete">
                <i class="fa fa-check-circle fa-2x"></i>
                <br>
                <span>Cumplido</span>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <p class="white-text justify">el Gobierno ha cumplido todos o la mayoría de las indicaciones y orientaciones propuestas por el Congreso de los Diputados en la iniciativa analizada.</p>
            </div>
        </div>
        <div class="row qpc-block">
            <div class="col-sm-3 quepasocon partially">
                <i class="fa fa-adjust fa-2x"></i>
                <br>
                <span>Parcialmente cumplido</span>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <p class="white-text justify">el Gobierno ha cumplido parte de las indicaciones y orientaciones propuestas por el Congreso de los Diputados en la iniciativa analizada.</p>
            </div>
        </div>
        <div class="row qpc-block">
            <div class="col-sm-3 quepasocon uncomplete">
                <i class="fa fa-minus-circle fa-2x"></i>
                <br>
                <span>No cumplido</span>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <p class="white-text justify">el Gobierno ha incumplido la mayoría o todas las indicaciones y orientaciones propuestas por Congreso de los Diputados en la iniciativa analizada.</p>
            </div>
        </div>
        <div class="row qpc-block">
            <div class="col-sm-3 quepasocon pending">
                <i class="fa fa-clock-o fa-2x"></i>
                <br>
                <span>Pendiente de evaluación</span>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <p class="white-text justify">Todavía no ha sido analizada la iniciativa.</p>
            </div>
        </div>

    </div>
</template>
