<template name="what">
    <div id="what">
        <h2>¿Qué es TIPI?</h2>
        <p>Es un proyecto que nace desde la sociedad civil para fortalecer sus capacidades de incidencia en los procesos de toma de decisión política y en la generación de un debate público informado sobre la pobreza y la justicia social en España.</p>
        <p>
            Pretende además fortalecer las capacidades de la sociedad civil para incidir en los procesos de toma de decisión política y en la generación de un debate público informado sobre la pobreza y la justicia social en España. Las organizaciones que formamos parte de TIPI queremos:
            <ul>
                <li>Poner el valor la política como la solución a los problemas de pobreza y desigualdad.</li>
                <li>Dotar a la ciudadanía de herramientas para poder exigir a los diputados que se avance en dar soluciones políticas a la pobreza y la exclusión social.</li>
                <li>Generar, a través del acceso a la información, un incentivo a las buenas prácticas políticas.</li>
            </ul>
        </p>
    </div>
</template>
