<template name="who">
    <div id="who" class="container page">
        <div class="row">
            <div class="col-sm-12">
                <h2>TIPI es un proyecto de:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <a href="http://unmundosalvadorsoler.org/ciecode/" target="_blank"><img class="img-responsive" src="/images/ciecode.png" alt="Logo de Ciecode (Fundación Salvador Soler)"></a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="http://eapn-clm.org/" target="_blank"><img class="img-responsive" src="/images/clm.jpg" alt="Logo de EAPN - Castilla la Mancha"></a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="http://porcausa.org" target="_blank"><img class="img-responsive" src="/images/porcausa.png" alt="Logo de Por Causa"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3>En colaboración con:</h3>
            </div>
            <div class="col-sm-6">
                <h3>Financiado por:</h3>
            </div>
        </div>
        <div class="row content-row white-block">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <a href="http://www.eapn.es/" target="_blank"><img class="img-responsive" src="/images/logoEAPN.png" alt="Logo de EAPN España"></a>
                    </div>
                    <div class="col-sm-6 text-center">
                        <a href="http://www.unicef.org/" target="_blank"><img class="img-responsive" src="/images/unicef.gif" alt="Logo de UNICEF"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <a href="http://eeagrants.com/" target="_blank"><img class="img-responsive" src="/images/eea.jpg" alt="Logo de EEA Grants"></a>
                    </div>
                    <div class="col-sm-6 text-center">
                        <a href="http://plataformaong.org/" target="_blank"><img class="img-responsive" src="/images/plataforma.jpg" alt="Logo de Plataforma de ONG de Acción Social"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
