<template name="ref">
	<div class="containerglob darkpatt">
		<div class="row">
			<div class="container">
				<div class="row">
					{{#with ref}}
				    	<div class="ref well">
				    		<div>
				    			<a class="btn btn-default btn-secondary" id="back"><i class="fa fa-long-arrow-left"></i>
 Volver</a>
								<a class="btn btn-default btn-secondary pull-right" id="verencongreso"><i class="fa fa-institution"></i> Ver en el Congreso</a>
				    		</div>
							<h3>{{getBol}} - {{ref}} - {{titulo}}</h3>
							<hr>
							<p>
								<dl class="dl-horizontal">
									<dt>Tipo</dt>
										<dd>{{tipotexto}}</dd>
									<dt>Trámite</dt>
										<dd>{{getTramite}}</dd>
									{{#if numenmienda}}
										<dt>Enmiedas</dt>
										<dd>
											<ul>
										{{#each numenmienda}}
											<li>{{this}}</li>
										{{/each}}
										</ul>
										</dd>
									{{/if}}
									<dt>Lugar</dt>
										<dd>{{lugar}}</dd>
									<dt>Fecha</dt>
										<dd>{{fecha}}</dd>
									<dt>Autor</dt>
										<dd>
										{{#if autor}}
											{{getAutor}}
										{{else}}
											<p>Sin autor</p>
										{{/if}}
										</dd>
									<dt>Grupo Parl.</dt>
										<dd>{{getGrupo}}</dd>
									<dt>Diccionarios</dt>
										<dd>
										{{#if dicts}}
											{{dicts}}
											<p>{{dictsWords}}</P>
										{{else}}
											No encaja en ningún diccionario
										{{/if}}
										</dd>
									<dt>Contenido</dt>
										<dd>
										{{#if content}}
											<p>
											{{#each content}}
												{{this}}
												<br>
											{{/each}}
											</p>
										{{else}}
											<p>Sin contenido</p>
										{{/if}}
										</dd>
									<!-- <dt>Sigue...</dt>
										<dd><small>{{contentpost}}</small></dd>
									<dt>Línea final</dt>
										<dd><small>{{contentend}}</small></dd> -->
								</dl>
							</p>
						</div>
					{{/with}}
				</div>
			</div>
		</div>
	</div>
</template>