<template name="ref">
	<div class="containerglob darkpatt">
		<div class="row">
			<div class="container">
				<div class="row">
					{{#with ref}}
				    	<div class="ref well">
							<h3>{{bol}} - {{ref}} - {{titulo}}</h3>
							<hr>
							<p>
								<dl class="dl-horizontal">
									<dt>Fecha</dt>
										<dd>{{fecha}}</dd>
									<dt>Autor</dt>
										<dd>{{autor}}</dd>
									<dt>Grupo Par.</dt>
										<dd>{{grupos}}</dd>
									<dt>Diccionarios</dt>
										<dd>
										{{#if dicts}}
											{{dicts}}
											<p>{{dictsWords}}</P>
										{{else}}
											No encaja en ningún diccionario
										{{/if}}
										</dd>
									<dt>Contenido</dt>
										<dd>
										{{#if content}}
											{{#each content}}
												<p>{{this}}</p>
											{{/each}}
										{{else}}
											<p>Sin contenido</p>
										{{/if}}
										</dd>
									<dt>Sigue...</dt>
										<dd><small>{{contentpost}}</small></dd>
									<dt>Línea final</dt>
										<dd><small>{{contentend}}</small></dd>
								</dl>
							</p>
							<p>
								<a class="btn btn-default" id="back">← Volver</a>
								<a class="btn btn-default" id="verencongreso"><i class="fa fa-institution"></i> Ver en el Congreso</a> 
								{{#if currentUser}}
									<a class="btn btn-warning pull-right" id="seguirentipi">Seguir en TiPi</a>
								{{/if}}
							</p>
						</div>
					{{/with}}
				</div>
			</div>
		</div>
	</div>
</template>