<template name="refsearch">
	{{count}}
	<div class="container">
		<h2>Búsqueda de inicativas</h2>
		<p>Los campos de texto serán tratados como expresiones regulares, <a href="https://www.regex101.com/" target="_blank">pruebe primero</a>.</p>
		<form class="form-horizonal" role="form">
			<div class="form-group">
				<label class="col-sm-2 control-label" for="texto">Palabras clave</label>
				<div class="col-sm-10">
					<input class="form-control" type="text" id="titulo" name="titulo" value="{{lastquery.titulo}}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="autor">Autor</label>
				<div class="col-sm-6">
					<input class="form-control" type="text" id="autor" name="autor" value="{{lastquery.autor}}">
				</div>
				<div class="col-sm-4">
					<select class="form-control" id="tipoautor" name="tipoautor">
					<option value="diputado">Diputado/a</option>
					<option value="grupo">Grupo</option>
					<option value="otro">Otro</option>
				</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="bol">Tipo Boletín</label>
				<div class="col-sm-4">
				<select class="form-control" id="bol" name="bol">
					<option value="">---</option>
					<option value="A">A</option>
					<option value="B">B</option>
					<option value="D">D</option>
					<option value="session-diary">Diarios de sesiones</option>
				</select>
			</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="ref">Referencia</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" id="ref" name="ref" value="{{lastquery.ref}}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="fechadesde">Fecha desde</label>
				<div class="col-sm-4">
					<input class="form-control" type="date" id="fechadesde" name="fechadesde" value="{{lastquery.fechadesde}}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="fechahasta">Fecha hasta</label>
				<div class="col-sm-4">
					<input class="form-control" type="date" id="fechahasta" name="fechahasta" value="{{lastquery.fechahasta}}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="dicts">Diccionario</label>
				<div class="col-sm-4">
					<select class="form-control" id="dicts" name="dicts">
						<option value="">---</option>
						{{#each alldicts_helper}}
							<option value="{{dict}}">{{dict}}</option>
						{{/each}}
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<button class="btn btn-secondary pull-right" type="submit"><i class="fa fa-search"></i> Buscar</button>
					<button class="btn btn-secondary pull-right" type="cancel"><i class="fa fa-repeat"></i> Restablecer</button>
					<br/>
					<br/>
				</div>
			</div>
		</form>
		<div class="col-sm-12">
			<hr/>
			<button class="btn btn-secondary pull-right" id="exportcsv"><i class="fa fa-download"></i> Exportar a CSV</button>
		</div>
		{{#if yesfound}}
			{{> reactiveTable collection=refsfound settings=settings}}
		{{/if}}
	</div>
</template>
