<template name="stats">
    <div id="stats">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    {{#if hasStats}}
                        <div id="graph"></div>
                        <br/>
                        <p>Los % muestran el peso de cada temática en el conjunto de la actividad del Congreso de los Diputados</p>
                        {{>shareit shareData}}
                    {{else}}
                        <p>No hay estadísticas por el momento.</p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</template>
