<template name="scanner">
    {{> header}}
    <div class="containerglob">
        <div class="row oldleft">
            <h1>Escaner</h1>
        </div>
        <div class="row">
            <div class="col-md-7" style="height:500px">
                {{dictcount 'educacion'}}

                <div id="vizz"></div>

                <!-- <img src="/images/bolas.svg" alt=""> -->

            </div>
            <div class="col-md-5 oswald">
                <p>
                    Filtre por:
                </p>    
                <span class="btn-group-vertical">
                    <span class="btn"><h5>Grupo parlamentario</h5></span>
                    <span class="btn"><h5>Diputado</h5></span>
                    <span class="btn"><h5>Tipo de acto</h5></span>
                    <span class="btn"><h5>Lugar</h5></span>
                    <span class="btn"><h5>Trámite parlamentario</h5></span>
                    <span class="btn"><h5>Fecha</h5></span>
                </span>
                
            </div>
        </div>
    </div>
</template>