<template name="postsList">
  <div class="containerglob">
      <div class="row">
          <div class="col-md-12 oldwhite darkpatt">
              <h1 class="left">Participa</h1>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12">
              <h2 class="text-center">Entradas</h2>
              <div class="posts page">
                <div class="wrapper">
                    {{#each posts}}
                        {{> postItem}}
                    {{/each}}
                    {{#if nextPath}}
                        <a class="load-more inverse" href="{{nextPath}}">Load more</a>
                    {{else}}
                        {{#unless ready}}
                            {{> spinner}}
                        {{/unless}}
                    {{/if}}
                </div>
              </div>
          </div>
      </div>
  </div>
</template>
