<template name="postPage">
  <div class="containerglob">
      <div class="row">
          <div class="col-md-12 oldwhite darkpatt">
              <h1 class="left">Participa</h1>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12">
              <div class="post-page page">
                {{> postItem}}
              
                <ul class="comments">
                  {{#each comments}}
                    {{> commentItem}}
                  {{/each}}
                </ul>
              
                {{#if currentUser}}
                  {{> commentSubmit}}
                {{else}}
                  <p class="text-center"><a class="inverse" href="{{pathFor 'login' }}"><i>Por favor accede para dejar un comentario.</i></a></p>
                {{/if}}
              </div>
          </div>
      </div>
  </div>
</template>