<template name="postPage">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="post-page page">
          {{> postItem}}
        
          <ul class="comments">
            {{#each comments}}
              {{> commentItem}}
            {{/each}}
          </ul>
        
          {{#if currentUser}}
            {{> commentSubmit}}
          {{else}}
            <p>Please log in to leave a comment.</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>