<template name="postItem">
  <div class="post">
    <a href="#" class="upvote btn {{upvotedClass}}">⬆</a>
    <div class="post-content">
      <h3><a class="inverse" href="{{url}}">{{title}}</a> <small>{{domain}}</small></h3>
      <p>
        {{pluralize votes "Vote"}}, submitted by {{author}}
        {{#if ownPost}}<a class="inverse" href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
      </p>
    </div>
    <a href="{{pathFor 'postPage'}}" class="discuss inverse"><i class="fa fa-comments"></i> {{pluralize commentsCount "comment"}}</a>
  </div>
</template>