<template name="footer">  
  <div class="row footer">
    <div class="col-md-6">
        <small><strong>Creative Commons</strong> - Algunos derechos reservados</small>
    </div>
    <div class="col-md-6">
        <a class="pull-right" style="padding-left: 5px;" href="https://facebook.com/tipiciudadano"><i class="fa fa-facebook-square fa-2x"></i></a>
        <a class="pull-right" style="padding-left: 5px;" href="https://twitter.com/tipi_ciudadano"><i class="fa fa-twitter-square fa-2x"></i></a>
    </div>
  </div>
</template>