<template name="footer">  
    <div class="container-fluid">
        <div class="row" id="footerline">
            <div class="col-sm-12"></div>
        </div>
        <div id="footer" class="row">
            <div class="col-sm-12">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/images/logociecode.png" alt="Logo Ciecode" width="150">
                        </div>
                        <div class="col-sm-4">
                            <h6>Acerca</h6>
                            <ul class="list-unstyled">
                                <li><a href="{{pathFor 'what'}}">Qué es</a></li>
                                <li><a href="{{pathFor 'who'}}">Quiénes somos</a></li>
                                <li ><a href="{{pathFor 'topics'}}">Temas</a></li>
                                <li ><a href="{{pathFor 'cookies'}}">Cookies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h6>Redes Sociales</h6>
                            <ul class="list-unstyled">
                                <li><a href="https://facebook.com/tipiciudadano">Facebook</a></li>
                                <li><a href="https://twitter.com/tipi_ciudadano">Twitter</a></li>
                                <li ><a href="https://github.com/CIECODE-Madrid/tipi">GitHub</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="credits" class="row">
            <div class="col-sm-12 text-center">
                <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"><img src="/images/cc.png" heigh="50px" alt="Logo de licencia Creative Commons"></a><br>
                <small><strong>TIPI</strong> está licenciado bajo <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons 4.0</a></small>
                <br>
                <small>Hecho con &hearts; por <a href="http://enreda.coop" target="_blank">enreda.coop</a></small>
            </div>
        </div>
    </div>
</template>
