<template name="footer">  
    <div class="container-fluid">
        <div class="row footer">
            <div class="col-md-12">
                <div class="beta text-center">
                    <i>Soy una versión beta. Trátame con cariño.</i>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"><img src="/images/cc.png" heigh="50px" alt="Logo de licencia Creative Commons"></a><br>
                        <small><strong>TIPI</strong> está licenciado bajo <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons 4.0</a></small>
                        <br>
                        <small>Hecho con &hearts; por <a href="http://enreda.coop" target="_blank">enreda.coop</a></small>
                    </div>
                    <div class="col-sm-6">
                        <a class="icon pull-right" href="https://github.com/CIECODE-Madrid/tipi"><i class="fa fa-github-square fa-2x"></i></a>
                        <a class="icon pull-right" href="https://facebook.com/tipiciudadano"><i class="fa fa-facebook-square fa-2x"></i></a>
                        <a class="icon pull-right" href="https://twitter.com/tipi_ciudadano"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
