<template name="header">
<div class="announce">
  Estamos realizando importantes tareas de mejora y por ello hemos dejado de actualizar la información del Congreso.
  <br/>
  El próximo <b>14 de noviembre</b> estaremos <b>100% operativos y con nuevas funcionalidades</b>.
  <br/>
  Disculpad las molestias.
</div>
<div class="cascade"></div>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                <a class="navbar-brand" href="{{pathFor 'home'}}"><img src="/images/logos-tipi/logo2_blanco.svg"></a>
            </div>
            <div id="main-menu" class="collapse navbar-collapse">
                {{#if currentUser}}
                {{else}}
                    <form class="navbar-form navbar-right">
                        <a href="{{pathFor 'login'}}" class="btn btn-sm btn-tipi">Accede</a>
                    </form>
                {{/if}}
                <ul class="nav navbar-nav navbar-right">
                    <li class="{{activeRouteClass 'search'}}"><a class="menuitem" href="{{pathFor 'search'}}">Escáner</a></li>
                    <li class="{{activeRouteClass 'dicts'}}"><a class="menuitem" href="{{pathFor 'dicts'}}">Temas</a></li>
                    <li class="{{activeRouteClass 'about'}}"><a class="menuitem" href="{{pathFor 'about'}}">Acerca</a></li>
                    {{#if currentUser}}
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{currentUser.username}} <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="{{pathFor 'profile' username=currentUser.username}}" class="go-to-user"><i class="fa fa-pencil"></i> Editar perfil</a></li>
                            <li><a href="/" class="logout"><i class="fa fa-power-off"></i> Cerrar sesión</a></li>
                          </ul>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</template>
